In [1]:
%load_ext autoreload
%autoreload 2

%load_ext watermark
%watermark -a "Johann" -v -n -p numpy,scipy,sklearn,pandas

Johann Tue Oct 06 2020

CPython 3.8.5
IPython 7.18.1

numpy 1.19.2
scipy 1.5.2
sklearn 0.23.2
pandas 1.1.0

In [5]:
import os
import time
import pandas as pd
from pathlib import Path
from pyprojroot import here

p = Path(here('./data/raw'))
all_files = []
for i in p.glob('*.*'):
    all_files.append((i.name, time.ctime(i.stat().st_ctime)))

columns = ["file_name", "created"]
df = pd.DataFrame.from_records(all_files, columns=columns)

df.head(20)

             file_name                   created
0           Austin.csv  Tue Oct  6 17:58:12 2020
1          Lincoln.csv  Tue Oct  6 20:21:52 2020
2      Cincinnati .csv  Tue Oct  6 20:21:52 2020
3            .DS_Store  Tue Oct  6 20:22:40 2020
4      New_Orleans.csv  Tue Oct  6 20:21:52 2020
5       South_bend.csv  Tue Oct  6 20:21:52 2020
6            README.md  Tue Oct  6 20:27:00 2020
7     North_bergen.xls  Tue Oct  6 20:21:52 2020
8          Orlando.csv  Tue Oct  6 20:21:52 2020
9   .ipynb_checkpoints  Tue Oct  6 22:37:36 2020
10         Seattle.csv  Tue Oct  6 20:21:52 2020
11       Baltimore.csv  Tue Oct  6 17:58:17 2020