In [1]:
%load_ext autoreload
%autoreload 2

%load_ext watermark
%watermark -a "Johann" -v -n -p numpy,scipy,sklearn,pandas

Johann Tue Oct 06 2020

CPython 3.8.5
IPython 7.18.1

numpy 1.19.2
scipy 1.5.2
sklearn 0.23.2
pandas 1.1.0

In [268]:
import os
import time
import pandas as pd
from pathlib import Path
from pyprojroot import here

data_path = Path(here('./data/raw'))
all_files = []
suffixes = '*.csv'

for files in data_path.glob(suffixes):
    all_files.append((files.name, files.suffix, time.ctime(files.stat().st_ctime)))
        
columns = ["File_Name", "Type", "Created"]
files_df = pd.DataFrame.from_records(all_files, columns=columns)

files_df.head(20)

           File_Name  Type                   Created
0         Austin.csv  .csv  Tue Oct  6 17:58:12 2020
1        Lincoln.csv  .csv  Tue Oct  6 20:21:52 2020
2        Norwich.csv  .csv  Thu Oct  8 01:47:07 2020
3     Cincinnati.csv  .csv  Wed Oct  7 17:02:17 2020
4    Bloomington.csv  .csv  Wed Oct  7 23:02:54 2020
5         Dallas.csv  .csv  Thu Oct  8 01:51:37 2020
6    New_Orleans.csv  .csv  Tue Oct  6 20:21:52 2020
7     South_bend.csv  .csv  Tue Oct  6 20:21:52 2020
8   Indianapolis.csv  .csv  Wed Oct  7 20:26:31 2020
9   Northhampton.csv  .csv  Thu Oct  8 12:46:38 2020
10        Beloit.csv  .csv  Wed Oct  7 22:58:00 2020
11       Orlando.csv  .csv  Tue Oct  6 20:21:52 2020
12       Bedford.csv  .csv  Wed Oct  7 22:50:15 2020
13      Delaware.csv  .csv  Wed Oct  7 20:34:33 2020
14       Seattle.csv  .csv  Tue Oct  6 20:21:52 2020
15     Baltimore.csv  .csv  Tue Oct  6 17:58:17 2020
16      Portland.csv  .csv  Wed Oct  7 20:31:55 2020

# Austin Police Department

In [163]:
austin = pd.read_csv(data_path / 'Austin.csv')

print(austin.info())
austin.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302 entries, 0 to 3301
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0    RIN                        3302 non-null   int64
 1    Primary Key                3302 non-null   int64
 2    Date Occurred              3302 non-null   object
 3    Time Occurred              3302 non-null   object
 4    Location                   3302 non-null   object
 5    Area Command               3288 non-null   object
 6    Nature of Contact          3299 non-null   object
 7    Reason Desc                3299 non-null   object
 8    R2R Level                  3299 non-null   float64
 9   Master Subject ID           3281 non-null   object
 10   Subject Sex                3140 non-null   object
 11   Subject Race               3140 non-null   object
 12   Subject Ethnicity          3119 non-null   object
 13   Subject Conduct Desc       2660 non-null   object
 14   Subject Resistance         3298 non-null   object
 15   Weapon Used 1              3273 non-null   object
 16   Weapon Used 2              157 non-null    object
 17  Weapon Used 3               21 non-null     object
 18   Weapon Used 4              3 non-null      object
 19   Weapon Used 5              0 non-null      float64
 20   Number Shots               736 non-null    float64
 21   Subject Effects            3290 non-null   object
 22   Effect on Officer          3072 non-null   object
 23   Officer Organization Desc  3299 non-null   object
 24   Officer Commission Date    3299 non-null   object
 25  Officer Yrs of Service      3302 non-null   int64
 26   X-Coordinate               3287 non-null   float64
 27   Y-Coordinate               3287 non-null   float64
 28  CouncilDistrict             3270 non-null   float64
dtypes: float64(6), int64(3), object(20)
memory usage: 748.2+ KB
None

,RIN,Primary Key,Date Occurred,Time Occurred,Location,Area Command,Nature of Contact,Reason Desc,R2R Level,Master Subject ID,...,Weapon Used 5,Number Shots,Subject Effects,Effect on Officer,Officer Organization Desc,Officer Commission Date,Officer Yrs of Service,X-Coordinate,Y-Coordinate,CouncilDistrict
0,154619,201510652,01/01/2015 12:00:00 AM,0220,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 600 REG I PATROL,05/17/2013 12:00:00 AM,2,3115416.0,10070416.0,9.0
1,154620,201510652,01/01/2015 12:00:00 AM,0225,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,GEORGE 700 REG I PATROL,05/10/2002 12:00:00 AM,13,3115416.0,10070416.0,9.0
2,155009,201510652,01/01/2015 12:00:00 AM,,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 300 REG I PATROL,11/30/2012 12:00:00 AM,2,3115416.0,10070416.0,9.0
3,154764,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,TO RESTRAIN FOR SUBJECTS SAFETY,3.0,356649076: 201520457,...,NaN,NaN,COMPLAINT OF INJURY/PAIN,COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,06/20/2008 12:00:00 AM,7,3124262.0,10057181.0,3.0
4,154859,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,"IN CUSTODY, MAINTAINING CONTROL",3.0,356649076: 201520457,...,NaN,NaN,COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,01/02/2009 12:00:00 AM,6,3124262.0,10057181.0,3.0

In [169]:
austin['State'] = 'TX'
austin['City'] = 'Austin'
austin.head()

austin.to_csv(data_path / 'Austin_copy.csv')

# Baltimore Police Department

In [176]:
baltimore = pd.read_csv(data_path / 'Baltimore.csv')

print(baltimore.info())
baltimore.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         68 non-null     object
 1   CC#          68 non-null     object
 2   DISTRICT     65 non-null     object
 3   LOCATION     68 non-null     object
 4   TYPE         68 non-null     object
 5   X (LONG)     68 non-null     float64
 6   Y (LAT)      68 non-null     float64
 7   COORDINATES  68 non-null     object
 8   Zip Codes    65 non-null     float64
dtypes: float64(3), object(6)
memory usage: 4.9+ KB
None

,DATE,CC#,DISTRICT,LOCATION,TYPE,X (LONG),Y (LAT),COORDINATES,Zip Codes
0,06/28/2015 12:00:00 AM,158F12891,SWD,3436 Wilkens Ave,Shooting,-76.675684,39.272930,"(39.27293, -76.675684)",27950.0
1,09/28/2015 12:00:00 AM,158I12884,SWD,1900 Grinnalds Ave,Shooting,-76.653546,39.266968,"(39.266968, -76.653546)",27953.0
2,11/15/2015 12:00:00 AM,153K06453,ED,700 Mura St,Shooting,-76.610221,39.304279,"(39.304279, -76.610221)",13645.0
3,10/11/2015 12:00:00 AM,154J04680,NED,3627 Elmora Ave,Taser,-76.569463,39.315777,"(39.315777, -76.569463)",26956.0
4,11/06/2015 12:00:00 AM,157K02397,WD,1007 Brantley Ave,Injured Person,-76.636688,39.296035,"(39.296035, -76.636688)",27301.0

In [177]:
baltimore['State'] = 'MD'
baltimore['City'] = 'Baltimore'
baltimore.head()

baltimore.to_csv(data_path / 'Baltimore_copy.csv')

# Cincinnati PD

In [179]:
cincinnati= pd.read_csv(data_path / 'Cincinnati.csv')

print(cincinnati.info())
cincinnati.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22594 entries, 0 to 22593
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   INCIDENT_NO                     22246 non-null  float64
 1   INCIDENT_DATE                   22594 non-null  object
 2   CASE_NO                         22594 non-null  object
 3   CFS_NO                          22251 non-null  object
 4   DISTRICT                        22561 non-null  object
 5   INCIDENT_TYPE                   22594 non-null  int64
 6   INCIDENT_DESCRIPTION            22594 non-null  object
 7   INCIDENT_LOCATION_X             22567 non-null  object
 8   LATITUDE_X                      11859 non-null  float64
 9   LONGITUDE_X                     11859 non-null  float64
 10  SUBJECT_GENDER                  22593 non-null  object
 11  SUBJECT_RACE                    22593 non-null  object
 12  SUSPECT_AGE                     22594 non-null  object
 13  OFFICER_GENDER                  22583 non-null  object
 14  OFFICER_RACE                    22583 non-null  object
 15  SNA_NEIGHBORHOOD                11859 non-null  object
 16  CPD_NEIGHBORHOOD                11859 non-null  object
 17  COMMUNITY_COUNCIL_NEIGHBORHOOD  11859 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 3.1+ MB
None

,INCIDENT_NO,INCIDENT_DATE,CASE_NO,CFS_NO,DISTRICT,INCIDENT_TYPE,INCIDENT_DESCRIPTION,INCIDENT_LOCATION_X,LATITUDE_X,LONGITUDE_X,SUBJECT_GENDER,SUBJECT_RACE,SUSPECT_AGE,OFFICER_GENDER,OFFICER_RACE,SNA_NEIGHBORHOOD,CPD_NEIGHBORHOOD,COMMUNITY_COUNCIL_NEIGHBORHOOD
0,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
1,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
2,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
3,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN
4,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN

In [180]:
cincinnati['State'] = 'OH'
cincinnati['City'] = 'Cincinnati'
cincinnati.head()

cincinnati.to_csv(data_path / 'Cincinnati_copy.csv')

# Lincoln PD

In [181]:
lincoln = pd.read_csv(data_path / 'Lincoln.csv')

print(lincoln.info())
lincoln.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 46 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   incid         391 non-null    int64
 1   date          391 non-null    object
 2   year          391 non-null    int64
 3   time          391 non-null    int64
 4   ofcage        391 non-null    int64
 5   ofcrace       391 non-null    int64
 6   ofcgender     391 non-null    int64
 7   ofcexp        391 non-null    object
 8   ofczpro       390 non-null    object
 9   ofcteam       391 non-null    object
 10  tofc          391 non-null    object
 11  loc           391 non-null    int64
 12  natinc        391 non-null    int64
 13  light         391 non-null    int64
 14  light1        101 non-null    object
 15  witness       391 non-null    object
 16  audio_        391 non-null    int64
 17  video         391 non-null    int64
 18  susweap       391 non-null    object
 19  susweap1      391 non-null    object
 20  susage        391 non-null    object
 21  susrace       391 non-null    int64
 22  susgender     391 non-null    int64
 23  flag1         391 non-null    int64
 24  flag2         391 non-null    int64
 25  flag3         391 non-null    object
 26  alcohol       391 non-null    int64
 27  drug          391 non-null    int64
 28  mental        391 non-null    int64
 29  esl           391 non-null    int64
 30  reason        391 non-null    int64
 31  resist        391 non-null    object
 32  resist1       391 non-null    object
 33  resist2       391 non-null    object
 34  control       391 non-null    int64
 35  control1      391 non-null    int64
 36  control2      391 non-null    int64
 37  typecontrol   391 non-null    object
 38  typecontrol1  391 non-null    object
 39  typecontrol2  391 non-null    object
 40  ground        391 non-null    int64
 41  susinjury     391 non-null    object
 42  ofcinjury     391 non-null    object
 43  suspart       391 non-null    object
 44  ofcpart       391 non-null    object
 45  FID           391 non-null    int64
dtypes: int64(25), object(21)
memory usage: 140.6+ KB
None

,incid,date,year,time,ofcage,ofcrace,ofcgender,ofcexp,ofczpro,ofcteam,...,control2,typecontrol,typecontrol1,typecontrol2,ground,susinjury,ofcinjury,suspart,ofcpart,FID
0,281,2016/01/17 00:00:00+00,2016,1450,40,1,0,10,28.1,7,...,3,1,.,.,1,0,1,.,1,1
1,282,2016/01/17 00:00:00+00,2016,122,29,1,0,3,32.13,5,...,4,1,.,.,0,1,0,10,.,2
2,283,2016/01/17 00:00:00+00,2016,1450,27,1,0,0,34.27,7,...,3,1,.,.,1,0,1,.,1,3
3,284,2016/01/18 00:00:00+00,2016,139,37,1,0,11,38.98,1,...,5,7,.,.,1,1,0,7,.,4
4,285,2016/01/20 00:00:00+00,2016,42,29,1,0,5,.,2,...,3,1,.,.,1,1,0,10,.,5

In [182]:
lincoln['State'] = 'NE'
lincoln['City'] = 'Lincoln'
lincoln.head()

lincoln.to_csv(data_path / 'Lincoln_copy.csv')

# New Orleans PD

In [188]:
new_orleans = pd.read_csv(data_path / 'New_orleans.csv')

print(new_orleans.info())
new_orleans.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5082 entries, 0 to 5081
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PIB File Number              5082 non-null   object
 1   Date Occurred                5082 non-null   object
 2   Originating Bureau           5082 non-null   object
 3   Division level               5082 non-null   object
 4   Division                     4879 non-null   object
 5   Unit                         3384 non-null   object
 6   Working Status               3786 non-null   object
 7   Shift                        3417 non-null   object
 8   Investigation status         5082 non-null   object
 9   Disposition                  5077 non-null   object
 10  Service Type                 5079 non-null   object
 11  Light Condition              5066 non-null   object
 12  Weather Condition            5068 non-null   object
 13  Use of Force Type            5082 non-null   object
 14  Use of Force Level           5082 non-null   object
 15  Subject Influencing Factors  4953 non-null   object
 16  Use of Force Effective       5082 non-null   object
 17  Officer Race/Ethnicity       5080 non-null   object
 18  Officer Gender               5080 non-null   object
 19  Officer Age                  5020 non-null   float64
 20  Officer Years of Service     5059 non-null   float64
 21  Distance Between             4937 non-null   object
 22  Subject Gender               5046 non-null   object
 23  Subject Ethnicity            4992 non-null   object
 24  Subject Age                  4853 non-null   float64
 25  Subject Build                4817 non-null   object
 26  Subject Height               4656 non-null   object
 27  Subject Injured              5082 non-null   object
 28  Subject Hospitalized         5082 non-null   object
 29  Subject Arrested             5082 non-null   object
 30  Subject Arrest Charges       9 non-null      object
 31  Use of Force Reason          5079 non-null   object
 32  Officer Injured              5082 non-null   object
dtypes: float64(3), object(30)
memory usage: 1.3+ MB
None

,PIB File Number,Date Occurred,Originating Bureau,Division level,Division,Unit,Working Status,Shift,Investigation status,Disposition,...,Subject Ethnicity,Subject Age,Subject Build,Subject Height,Subject Injured,Subject Hospitalized,Subject Arrested,Subject Arrest Charges,Use of Force Reason,Officer Injured
0,FTN2016-0001,01/01/2016,FOB - Field Operations Bureau,2nd District,C Platoon,NaN,NaN,NaN,Completed,Use Of Force Authorized,...,Black,29.0,Large,> 6'3'',Yes,No,Yes,NaN,Resisting Lawful Arrest,No
1,FTN2016-0001,01/01/2016,FOB - Field Operations Bureau,2nd District,C Platoon,NaN,NaN,NaN,Completed,Use Of Force Authorized,...,Black,29.0,Large,> 6'3'',Yes,No,Yes,NaN,Resisting Lawful Arrest,No
2,FTN2016-0001,01/01/2016,FOB - Field Operations Bureau,2nd District,C Platoon,NaN,NaN,NaN,Completed,Use Of Force Authorized,...,Black,29.0,Large,> 6'3'',Yes,No,Yes,NaN,Resisting Lawful Arrest,No
3,FTN2016-0003,01/01/2016,ISB - Investigations and Support Bureau,Criminal Investigations Division,Homicide Section,Squad E,NaN,NaN,Completed,Use Of Force Authorized,...,White,19.0,Medium,5'7'' to 5'9'',No,No,Yes,NaN,Battery on Police Officer,No
4,FTN2016-0004,01/01/2016,FOB - Field Operations Bureau,8th District,C Platoon,Patrol,NaN,NaN,Completed,Use Of Force Authorized,...,Black,22.0,Small,5'4'' to 5'6'',No,No,Yes,Illegal Carrying of a Weapon,Resisting Lawful Arrest,No

In [189]:
new_orleans['State'] = 'LA'
new_orleans['City'] = 'New Orleans'
new_orleans.head()

new_orleans.to_csv(data_path / 'New_Orleans_copy.csv')

# Orlando PD

In [190]:
orlando = pd.read_csv(data_path / 'Orlando.csv')

print(orlando.info())
orlando.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5658 entries, 0 to 5657
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Incident Number             5658 non-null   object
 1   Incident Date Time          5656 non-null   object
 2   Incident Location           5657 non-null   object
 3   Officers Involved           5656 non-null   float64
 4   Officers Race               5658 non-null   object
 5   Officers Ethnicity          5658 non-null   object
 6   Officers Sex                5658 non-null   object
 7   Officer Battered            5658 non-null   object
 8   Officer Injured             5658 non-null   object
 9   Officer Medical Treatment   5658 non-null   object
 10  Electronic Device Used      5658 non-null   object
 11  Chemical Agent Used         5658 non-null   object
 12  Tackle Take Down            5658 non-null   object
 13  Impact Weapons Used         5658 non-null   object
 14  Physical Strikes Made       5658 non-null   object
 15  Deflation Device Used       5658 non-null   object
 16  K9 Unit Involved            5658 non-null   object
 17  Offenders Involved          5656 non-null   float64
 18  Offenders Race              5658 non-null   object
 19  Offenders Ethnicity         5658 non-null   object
 20  Offenders Sex               5658 non-null   object
 21  Offender Arrested           5658 non-null   object
 22  Offender Injured            5658 non-null   object
 23  Offender Medical Treatment  5658 non-null   object
 24  Witnesses Involved          5656 non-null   float64
 25  Status                      5658 non-null   object
 26  Location                    5377 non-null   object
dtypes: float64(3), object(24)
memory usage: 1.2+ MB
None

,Incident Number,Incident Date Time,Incident Location,Officers Involved,Officers Race,Officers Ethnicity,Officers Sex,Officer Battered,Officer Injured,Officer Medical Treatment,...,Offenders Involved,Offenders Race,Offenders Ethnicity,Offenders Sex,Offender Arrested,Offender Injured,Offender Medical Treatment,Witnesses Involved,Status,Location
0,2018-00079161,02/25/2018 10:23:00 PM,26TH / 15 LAWSONA BLV,1.0,W,NH,M,Yes,No,No,...,1.0,W,NH,M,Felony,Yes,Yes,0.0,Unmapped,NaN
1,2013-00544482,12/29/2013 11:02:00 PM,NaN,1.0,B,NH,M,No,No,No,...,0.0,U,NH,U,Not Arrested,No,No,0.0,Unmapped,NaN
2,2018-00478744,12/14/2018 08:17:00 AM,9200 Block of AIRPORT BV,1.0,W,NH,M,No,No,No,...,1.0,B,NH,M,Felony,No,No,0.0,Mapped,"(28.43097505, -81.31134146)"
3,2017-00316840,08/14/2017 01:50:00 AM,EW WBO / LONG ST,3.0,W;W;W,NH;NH;NH,M;M;M,No,No,No,...,1.0,B,NH,M,Misdemeanor,No,No,0.0,U,NaN
4,IncidentNumber,NaN,IncidentLocation,NaN,OfficersRace,OfficersEthnicity,OfficersSex,OfficerBattered,OfficerInjured,OfficerMedicalTreatment,...,NaN,OffendersRace,OffendersEthnicity,OffendersSex,OffenderArrested,OffenderInjured,OffenderMedicalTreatment,NaN,Status,NaN

In [191]:
orlando['State'] = 'FL'
orlando['City'] = 'Orlando'
orlando.head()

orlando.to_csv(data_path / 'Orlando_copy.csv')

# Seattle

In [192]:
seattle = pd.read_csv(data_path / 'Seattle.csv')

print(seattle.info())
seattle.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11630 entries, 0 to 11629
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 11630 non-null  object
 1   Incident_Num       11630 non-null  int64
 2   Incident_Type      11630 non-null  object
 3   Occured_date_time  11630 non-null  object
 4   Precinct           11630 non-null  object
 5   Sector             10682 non-null  object
 6   Beat               11630 non-null  object
 7   Officer_ID         11630 non-null  int64
 8   Subject_ID         11630 non-null  int64
 9   Subject_Race       11630 non-null  object
 10  Subject_Gender     11630 non-null  object
dtypes: int64(3), object(8)
memory usage: 999.6+ KB
None

,ID,Incident_Num,Incident_Type,Occured_date_time,Precinct,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender
0,2014UOF-0001-1377-203,251,Level 1 - Use of Force,06/07/2014 12:09:00 AM,East,CHARLIE,C2,1594,203,Black or African American,Male
1,2014UOF-0002-1098-166,218,Level 1 - Use of Force,05/30/2014 02:06:00 PM,East,GEORGE,G1,1673,166,White,Male
2,2014UOF-0003-1031-125,178,Level 1 - Use of Force,05/23/2014 05:24:00 PM,West,KING,K3,1690,125,Asian,Female
3,2014UOF-0004-767-126,179,Level 1 - Use of Force,05/26/2014 12:10:00 AM,East,EDWARD,E2,953,126,Black or African American,Male
4,2014UOF-0005-1473-172,223,Level 1 - Use of Force,06/01/2014 04:03:00 PM,South,ROBERT,R1,1145,172,Black or African American,Male

In [194]:
seattle['State'] = 'WA'
seattle['City'] = 'Seattle'
seattle.head()

seattle.to_csv(data_path / 'Seattle_copy.csv')

# South Bend

In [195]:
south_bend = pd.read_csv(data_path / 'South_bend.csv')

print(south_bend.info())
south_bend.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   X                             201 non-null    float64
 1   Y                             201 non-null    float64
 2   OBJECTID                      203 non-null    int64
 3   Date                          203 non-null    object
 4   Shift                         203 non-null    object
 5   Blocked_Location_of_Incident  203 non-null    object
 6   Beat                          183 non-null    float64
 7   City_1                        186 non-null    object
 8   Type_of_Resistance            203 non-null    object
 9   Response                      203 non-null    object
 10  Force_Caused_Injury           203 non-null    object
 11  Off_Injured                   203 non-null    object
 12  Call_Dispatched_via_911       203 non-null    object
 13  Call_was_Self_Initiated       202 non-null    object
 14  Call_in_Response_To           202 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 23.9+ KB
None

,X,Y,OBJECTID,Date,Shift,Blocked_Location_of_Incident,Beat,City_1,Type_of_Resistance,Response,Force_Caused_Injury,Off_Injured,Call_Dispatched_via_911,Call_was_Self_Initiated,Call_in_Response_To
0,-86.269939,41.695339,1,2017/02/19 05:00:00+00,Off Duty 3rd,1500 N Portage Ave,20.0,South Bend,Physical,Physical/Taser,Yes,Yes,No,Yes,Fight
1,-86.253562,41.679111,2,2017/01/01 05:00:00+00,3rd,300 N Lafayette Blvd,21.0,South Bend,Physical,Physical,No,No,Yes,No,Fight
2,-86.274035,41.685367,3,2017/01/15 05:00:00+00,2nd,1600 Lincoln Way W,23.0,South Bend,Physical,Physical,Yes,No,Yes,No,Unwanted Person
3,-86.269829,41.687829,4,2017/01/23 05:00:00+00,1st,1000 N Diamond Ave,21.0,South Bend,Physical,Taser,No,No,Yes,No,Warrant
4,-86.225559,41.654811,5,2017/02/10 05:00:00+00,2nd,1900 S Tywyckenham Dr,15.0,South Bend,Physical,Taser,Yes,No,No,Yes,Traffic Stop

In [196]:
south_bend['State'] = 'IN'
south_bend['City'] = 'South Bend'
south_bend.head()

south_bend.to_csv(data_path / 'South_bend_copy.csv')

# Indianapolis

In [203]:
# Indianapolis Metropolitan Police Department
# https://www.projectcomport.org/department/IMPD/schema/useofforce/

indianapolis = pd.read_csv('https://www.projectcomport.org/department/1/uof.csv?')
indianapolis.to_csv(data_path / 'Indianapolis.csv')

print(indianapolis.info())
indianapolis.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16826 entries, 0 to 16825
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     16826 non-null  object
 1   occurredDate           16282 non-null  object
 2   division               16322 non-null  object
 3   district               16322 non-null  object
 4   shift                  16260 non-null  object
 5   beat                   4331 non-null   object
 6   useOfForceReason       16303 non-null  object
 7   officerForceType       15492 non-null  object
 8   disposition            6970 non-null   object
 9   serviceType            16303 non-null  object
 10  arrestMade             16322 non-null  object
 11  arrestCharges          14358 non-null  object
 12  residentInjured        16322 non-null  object
 13  residentHospitalized   16322 non-null  object
 14  residentCondition      13488 non-null  object
 15  officerInjured         16322 non-null  object
 16  officerHospitalized    16322 non-null  object
 17  officerCondition       9901 non-null   object
 18  residentRace           16096 non-null  object
 19  residentSex            16298 non-null  object
 20  residentAge            15437 non-null  float64
 21  officerRace            16202 non-null  object
 22  officerSex             16232 non-null  object
 23  officerAge             16233 non-null  float64
 24  officerYearsOfService  15390 non-null  float64
 25  officerIdentifier      16232 non-null  object
dtypes: float64(3), object(23)
memory usage: 3.3+ MB
None

,id,occurredDate,division,district,shift,beat,useOfForceReason,officerForceType,disposition,serviceType,...,officerHospitalized,officerCondition,residentRace,residentSex,residentAge,officerRace,officerSex,officerAge,officerYearsOfService,officerIdentifier
0,9c7c088255e6080dceebafbae22df7eb,2014-08-23 00:00:00,Operations Division,Northwest District,NW Day Shift,NW Day Shift,Fleeing,Less Lethal-Taser,In compliance,Self-Initiated Activity,...,False,No injuries noted or visible,Black,Male,NaN,White,Male,33.0,11.0,11342e9840a7b53dec8c039a6a53c129
1,670a17d1bc2593b64664b361760d73c5,2014-08-28 00:00:00,Operations Division,Southeast District,SE Middle Shift,NaN,Combative Suspect,"Physical-Hands, Fist, Feet",In compliance,Arrest,...,False,No injuries noted or visible,White,Male,18.0,White,Male,37.0,13.0,547c246b80e932bf70340356c7e207e1
2,0dbfcea33161568591ee1bce0498b590,2014-08-23 00:00:00,Operations Division,North District,ND Late Tactical Shift,NaN,Resisting Arrest,Physical-Handcuffing,In compliance,Call For Service,...,False,No injuries noted or visible,Black,Male,36.0,White,Male,29.0,4.0,a4555ab4905cda5e4a1430a69a0afdcd
3,2c556058ed11488c1badb2282f6e453c,2014-08-28 00:00:00,Homeland Security Division,Homeland Security Bureau/Tactical,Canine Section,Canine Unit - Late,Non-Compliant,Canine Bite,In compliance,Request For PSD,...,False,NaN,Black,Male,40.0,White,Male,42.0,17.0,b1b813ded824994e6af194d0d7297470
4,f636c99ea09082c1275875903d027ad9,2014-08-24 00:00:00,Operations Division,Southwest District,SW Middle Shift,NaN,Combative Suspect,Physical-Handcuffing,In compliance,Arrest,...,True,Internal Pain/Discomfort,White,Male,51.0,White,Male,34.0,10.0,d4ec041a3cb4e12c28af6794c1c62ebd

In [204]:
indianapolis['State'] = 'IN'
indianapolis['City'] = 'Indianpolis'
indianapolis.head()

indianapolis.to_csv(data_path / 'Indianapolis_copy.csv')

# Portland

In [209]:
# Portland 
# https://public.tableau.com/views/PPBOpenDataDownloads/UseOfForce-All.csv?:showVizHome=no

portland = pd.read_csv('https://public.tableau.com/views/PPBOpenDataDownloads/UseOfForce-All.csv?:showVizHome=no')
portland.to_csv(data_path / 'Portland.csv')

In [210]:
portland['State'] = 'OR'
portland['City'] = 'Portland'
portland.head()

portland.to_csv(data_path / 'Portland_copy.csv')

# University of Delaware

In [213]:
delaware = pd.read_csv('http://www1.udel.edu/police/crime-stats/open_data/2016_use_of_force_csv.csv?')
delaware.to_csv(data_path / 'Delaware.csv')

In [214]:
delaware['State'] = 'DE'
delaware['City'] = 'Newark'
delaware.head()

delaware.to_csv(data_path / 'Delaware_copy.csv')

# XLS

In [216]:
north_bergen = pd.DataFrame(pd.read_excel(data_path / "North_bergen.xls")) 
  
north_bergen.head()

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'<html xm'

# Bedford

In [249]:
bedford = pd.read_csv(data_path / 'Bedford.csv', header=1)

print(bedford.info())
bedford.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 57 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   0                                               109 non-null    int64
 1   INCIDENT#                                       107 non-null    object
 2   DATE                                            108 non-null    object
 3   TIME                                            6 non-null      object
 4   AM/PM                                           105 non-null    object
 5   TYPE OF INCIDENT                                92 non-null     object
 6   CHARGES                                         82 non-null     object
 7    MENTAL HEALTH
 COMPLAINT?                      23 non-null     object
 8    PHYSICAL                                       62 non-null     object
 9    IMPACT                                         20 non-null     object
 10   ELECTRONIC                                     10 non-null     object
 11   CHEMICAL                                       21 non-null     object
 12   PISTOL                                         34 non-null     object
 13   RIFLE                                          13 non-null     object
 14   SHOTGUN                                        5 non-null      object
 15  WEAPON DISCHARGED                               20 non-null     object
 16  WEAPON POINTED                                  28 non-null     object
 17  OTHER                                           24 non-null     object
 18   PROTECT SELF                                   50 non-null     object
 19   PROTECT CITIZEN                                32 non-null     object
 20   PROTECT SUSPECT                                19 non-null     object
 21   PREVENT ESCAPE                                 45 non-null     object
 22   EFFECT ARREST                                  66 non-null     object
 23   EFFECT MENTAL ORDER                            31 non-null     object
 24  OTHER.1                                         22 non-null     object
 25  AGE                                             97 non-null     object
 26  SEX                                             91 non-null     object
 27  RACE                                            91 non-null     object
 28  INJURY, IF ANY                                  8 non-null      object
 29  COMPLIANT                                       15 non-null     object
 30  PASSIVELY RESISTIVE                             18 non-null     object
 31  ACTIVELY RESISTIVE                              52 non-null     object
 32  PHYSICALLY ASSAULTIVE                           23 non-null     object
 33  ASSAULTIVE TO CAUSE DEATH OR GREAT BODILY HARM  7 non-null      object
 34  RANK                                            91 non-null     object
 35  AGE.1                                           91 non-null     object
 36  SEX.1                                           91 non-null     object
 37  RACE.1                                          90 non-null     object
 38  YEARS OF SERVICE                                88 non-null     object
 39  INJURY, IF ANY.1                                5 non-null      object
 40  RANK.1                                          66 non-null     object
 41  AGE.2                                           50 non-null     object
 42  SEX.2                                           52 non-null     object
 43  RACE.2                                          52 non-null     object
 44  YEARS OF SERVICE.1                              46 non-null     object
 45  INJURY, IF ANY.2                                6 non-null      object
 46  Unnamed: 46                                     16 non-null     object
 47  Unnamed: 47                                     17 non-null     object
 48  Unnamed: 48                                     16 non-null     object
 49  Unnamed: 49                                     16 non-null     object
 50  Unnamed: 50                                     16 non-null     object
 51  Unnamed: 51                                     15 non-null     object
 52  Unnamed: 52                                     8 non-null      object
 53  Unnamed: 53                                     21 non-null     object
 54  Unnamed: 54                                     21 non-null     object
 55  Unnamed: 55                                     23 non-null     object
 56  Unnamed: 56                                     3 non-null      object
dtypes: int64(1), object(56)
memory usage: 48.7+ KB
None

,0,INCIDENT#,DATE,TIME,AM/PM,TYPE OF INCIDENT,CHARGES,MENTAL HEALTH\n COMPLAINT?,PHYSICAL,IMPACT,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,1,201100579,2011-01-30 00:00:00,07:41:00,PM,DISORDERLY TRESSPASSING,TRESSPASSING/ RESISITING,NaN,X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,20111430,2011-02-24 00:00:00,14:40:00,PM,DISPUTE,NONE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2011001340,2011-03-19 00:00:00,08:30:00,PM,DUI,DUI,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,INCIDENT#,DATE,NaN,AM/PM,TYPE OF INCIDENT,CHARGES,MENTAL HEALTH\n COMPLAINT?,PHYSICAL,IMPACT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2010003872,2010-08-18 00:00:00,NaN,AM,NOISE COMPLAINT,DISORDERLY CONDUCT,NaN,X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [251]:
bedford['State'] = 'VA'
bedford['City'] = 'Bedford'
bedford.head()

bedford.to_csv(data_path / 'Bedford_copy.csv')

# Beloit

In [252]:
beloit = pd.read_csv(data_path / 'Beloit.csv')

print(beloit.info())
beloit.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               832 non-null    int64
 1   UOF #                    832 non-null    object
 2   CAD#                     832 non-null    object
 3   Offense                  815 non-null    object
 4   Disposition              804 non-null    object
 5   Date                     832 non-null    object
 6   Sex                      797 non-null    object
 7   Race                     797 non-null    object
 8   Age                      771 non-null    float64
 9   Charges                  756 non-null    object
 10  Dialog                   832 non-null    object
 11  HandStrike               832 non-null    object
 12  Vertical Stun            832 non-null    object
 13  Decentralizatio          832 non-null    object
 14  Forearm Strike           832 non-null    object
 15  Batons                   832 non-null    object
 16  Wrist Compressio         832 non-null    object
 17  KneeStrke                832 non-null    object
 18  Less than Lethal         832 non-null    object
 19  OC                       832 non-null    object
 20  FootStrike               832 non-null    object
 21  K9Bite                   832 non-null    object
 22  Pressure Points          832 non-null    object
 23  DiffusedStrike           832 non-null    object
 24  Firearm                  832 non-null    object
 25  Conducted Energy Device  832 non-null    object
 26  Other                    520 non-null    object
 27  Alcohol Use              832 non-null    object
 28  Drug                     832 non-null    object
dtypes: float64(1), int64(1), object(27)
memory usage: 188.6+ KB
None

,Unnamed: 0,UOF #,CAD#,Offense,Disposition,Date,Sex,Race,Age,Charges,...,OC,FootStrike,K9Bite,Pressure Points,DiffusedStrike,Firearm,Conducted Energy Device,Other,Alcohol Use,Drug
0,0,UOF18-001,BE1800568,Loitering,No Arrest,2018-01-05 00:00:00,M,W,40.0,BE1800570 - 51.45 by other officers,...,No,No,No,No,No,No,No,Pulled by clothing,Yes,No
1,1,UOF18-002A,BE1800867,5145 Alcohol Commitment,Emergency Detention Arrest,2018-01-07 00:00:00,M,W,53.0,51.45,...,No,No,No,No,No,No,No,"Restrained from walking out, handcuffed to bed",Yes,No
2,2,UOF18-002B,BE1800867,5145 Alcohol Commitment,Emergency Detention Arrest,2018-01-07 00:00:00,M,W,53.0,51.45,...,No,No,No,No,No,No,No,"Restrained from walking out, handcuffed to bed",Yes,No
3,3,UOF18-003,BE1800853,Domestic Violence,Criminal Arrest,2018-01-07 00:00:00,M,L,36.0,DV-Disorderly Conduct,...,No,No,No,No,No,No,No,Force - Handcuffing,No,No
4,4,UOF18-004,BE1801194,5115 Mental Commitment,Emergency Detention Arrest,2018-01-10 00:00:00,F,B,64.0,51.15 Mental Commitment,...,No,No,No,No,No,No,No,Stabilized to bed for medication,No,No

In [253]:
beloit['State'] = 'WI'
beloit['City'] = 'Beloit'

beloit.to_csv(data_path / 'Beloit_copy.csv')

# Bloomington

In [254]:
bloomington = pd.read_csv(data_path / 'Bloomington.csv')

print(bloomington.info())
bloomington.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 37 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Unnamed: 0                                         1188 non-null   int64
 1   Event                                              1184 non-null   object
 2   District                                           1184 non-null   object
 3   Nature                                             1185 non-null   object
 4   How Received                                       1184 non-null   object
 5   Date                                               1184 non-null   object
 6   Time                                               1184 non-null   object
 7   Physical Contact                                   1184 non-null   object
 8   Less Lethal                                        1184 non-null   object
 9   Draw Less Lethal                                   216 non-null    object
 10  Draw Weapon                                        1033 non-null   object
 11  Weapon Fired                                       1184 non-null   object
 12  Vehicle Pursuit                                    1184 non-null   object
 13  Foot Pursuit                                       1184 non-null   object
 14  Suspect Condition                                  1182 non-null   object
 15  Suspect Armed                                      1184 non-null   object
 16  Suspect Injured                                    1184 non-null   object
 17  Suspect Role                                       1183 non-null   object
 18  Officer Injured                                    1184 non-null   object
 19  Officer Exposed to BBP                             1184 non-null   object
 20  Suspect Gender Female                              223 non-null    float64
 21  Suspect Gender Male                                962 non-null    float64
 22  Suspect Age                                        1183 non-null   object
 23  Suspect Race Caucasian, Non-Hispanic               761 non-null    float64
 24  Suspect Race  Caucasian, Hispanic                  16 non-null     float64
 25  Suspect Race African American, Non-Hispanic        248 non-null    float64
 26  Suspect Race African American, Hispanic            1 non-null      float64
 27  Suspect Race Indian/Alaskan Native, Non-Hispanic   2 non-null      float64
 28  Suspect Race Indian/Alaskan Native, Hispanic       2 non-null      float64
 29  Suspect Race Asian/Pacific Islander, Non-Hispanic  7 non-null      float64
 30  Suspect Race Asian/Pacific Islander, Hispanic      0 non-null      float64
 31  Drew Less Lethal                                   151 non-null    object
 32  Drew Weapon                                        151 non-null    object
 33  Suspect Race White, Non-Hispanic                   98 non-null     float64
 34  Suspect Race  White, Hispanic                      4 non-null      float64
 35  Suspect Race AA, Non-Hispanic                      44 non-null     float64
 36  Suspect Race AA, Hispanic                          0 non-null      float64
dtypes: float64(14), int64(1), object(22)
memory usage: 343.5+ KB
None

,Unnamed: 0,Event,District,Nature,How Received,Date,Time,Physical Contact,Less Lethal,Draw Less Lethal,...,"Suspect Race Indian/Alaskan Native, Non-Hispanic","Suspect Race Indian/Alaskan Native, Hispanic","Suspect Race Asian/Pacific Islander, Non-Hispanic","Suspect Race Asian/Pacific Islander, Hispanic",Drew Less Lethal,Drew Weapon,"Suspect Race White, Non-Hispanic","Suspect Race White, Hispanic","Suspect Race AA, Non-Hispanic","Suspect Race AA, Hispanic"
0,0,B19-41460,1,FIGHT\n,911,2019-10-01 00:00:00,00:11:00,YES,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,B19-42037,3,TRAFFIC STOP,OFFICER REPORT,2019-10-04 00:00:00,16:54:00,YES,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,B19-42212,4,WARRANT SERVICE,OFFICER REPORT,2019-10-05 00:00:00,17:32:00,YES,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,B19-42238,4,FIGHT,911,2019-10-05 00:00:00,20:04:00,YES,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,B19-42269,4,DISTURBANCE,TELEPHONE,2019-10-06 00:00:00,00:00:00,YES,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
bloomington['State'] = 'IN'
bloomington['City'] = 'Bloomington'

bloomington.to_csv(data_path / 'Bloomington_copy.csv')

# Dallas

In [256]:
dallas = pd.read_csv(data_path / 'Dallas.csv')

print(dallas.info())
dallas.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20610 entries, 0 to 20609
Data columns (total 61 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20610 non-null  int64
 1   OBJECTID          15654 non-null  float64
 2   FILENUM           20609 non-null  object
 3   UOFNum            20609 non-null  object
 4   OCCURRED_D        18366 non-null  object
 5   OCCURRED_T        12197 non-null  object
 6   CURRENT_BAxx      2712 non-null   float64
 7   OffSex            20609 non-null  object
 8   OffRace           20609 non-null  object
 9   HIRE_DT           20609 non-null  object
 10  OFF_INJURE        18366 non-null  object
 11  OffCondTyp        18366 non-null  object
 12  OFF_HOSPIT        18366 non-null  object
 13  SERVICE_TY        18315 non-null  object
 14  ForceType         20609 non-null  object
 15  UOF_REASON        20544 non-null  object
 16  Cycles_Num        1139 non-null   object
 17  ForceEffec        18366 non-null  object
 18  STREET_N          14959 non-null  float64
 19  STREET            14970 non-null  object
 20  street_g          4072 non-null   object
 21  street_t          14404 non-null  object
 22  Address           14929 non-null  object
 23  CitNum            20295 non-null  object
 24  CitRace           20259 non-null  object
 25  CitSex            20549 non-null  object
 26  CIT_INJURE        18366 non-null  object
 27  CitCondTyp        18365 non-null  object
 28  CIT_ARREST        18366 non-null  object
 29  CIT_INFL_A        17751 non-null  object
 30  CitChargeT        18366 non-null  object
 31  RA                20537 non-null  object
 32  BEAT              20537 non-null  object
 33  SECTOR            20537 non-null  object
 34  DIVISION          20512 non-null  object
 35  DIST_NAME         14922 non-null  object
 36  TAAG_Name         5688 non-null   object
 37  X                 9876 non-null   float64
 38  Y                 9876 non-null   float64
 39  GeoLocation       16640 non-null  object
 40  OCCURRED_TM       5625 non-null   object
 41  CURRENT_BA        15654 non-null  float64
 42  ARC_Street        5638 non-null   object
 43  ZIP               2943 non-null   float64
 44  Council District  2930 non-null   object
 45  ID                2243 non-null   float64
 46  OCCURRED_DT       2243 non-null   object
 47  CURRENT_BADGE_NO  2240 non-null   float64
 48  OFF_INJURED       2243 non-null   object
 49  OffCondType       2243 non-null   object
 50  OFF_HOSPITAL      2243 non-null   object
 51  SERVICE_TYPE      2230 non-null   object
 52  ForceEffective    2243 non-null   object
 53  CIT_INJURED       2243 non-null   object
 54  CitCondType       2243 non-null   object
 55  CIT_ARRESTED      2243 non-null   object
 56  CIT_INFL_ASSMT    2153 non-null   object
 57  CitChargeType     2243 non-null   object
 58  Latitude          0 non-null      float64
 59  Longitude         0 non-null      float64
 60  Match_addr        4216 non-null   object
dtypes: float64(11), int64(1), object(49)
memory usage: 9.6+ MB
None

/Users/johann/miniconda3/envs/HRF/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (23,31,32,33,40,42,44,46,48,49,50,51,52,53,54,55,56,57,60) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,OBJECTID,FILENUM,UOFNum,OCCURRED_D,OCCURRED_T,CURRENT_BAxx,OffSex,OffRace,HIRE_DT,...,SERVICE_TYPE,ForceEffective,CIT_INJURED,CitCondType,CIT_ARRESTED,CIT_INFL_ASSMT,CitChargeType,Latitude,Longitude,Match_addr
0,0,NaN,UF2018-0945,51374,08/03/2018,NaN,8681.0,Male,White,08/05/2005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,UF2018-0868,51056,07/20/2018,NaN,8019.0,Male,Hispanic,04/13/2001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,UF2018-1228,52701,10/10/2018,NaN,11171.0,Male,Hispanic,04/06/2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,UF2018-0912,51050,07/19/2018,NaN,6412.0,Male,Black,07/16/1990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,UF2018-1014,"51858, 51859",08/18/2018,NaN,10991.0,Male,White,03/25/2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
dallas['State'] = 'TX'
dallas['City'] = 'Dallas'

dallas.to_csv(data_path / 'Dallas_copy.csv')

# North Hampton

In [264]:
northhampton = pd.read_csv(data_path / 'Northhampton.csv', header=1)

print(northhampton.info())
northhampton.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   0                               322 non-null    int64
 1   Event #                         74 non-null     float64
 2   Call Type                       249 non-null    object
 3   Time of Day                     249 non-null    object
 4   Subject Weapon                  248 non-null    object
 5   Subject Age                     249 non-null    object
 6   Subject Gender                  249 non-null    object
 7   Subject Race                    249 non-null    object
 8   Subject Ethnicity               249 non-null    object
 9   Alcohol Drugs                   249 non-null    object
 10  PD Force Type                   280 non-null    object
 11  # of Officers                   249 non-null    object
 12  Arrest or ProtectiveCustody     249 non-null    object
 13  Subject Injured- If yes, type:  249 non-null    object
 14  Officer Injured- If yes, type:  250 non-null    object
 15  Unnamed: 15                     73 non-null     object
 16  Unnamed: 16                     82 non-null     object
 17  Unnamed: 17                     59 non-null     object
 18  Unnamed: 18                     20 non-null     object
 19  Unnamed: 19                     20 non-null     object
 20  Unnamed: 20                     20 non-null     object
 21  Unnamed: 21                     20 non-null     object
dtypes: float64(1), int64(1), object(20)
memory usage: 55.5+ KB
None

,0,Event #,Call Type,Time of Day,Subject Weapon,Subject Age,Subject Gender,Subject Race,Subject Ethnicity,Alcohol Drugs,...,Arrest or ProtectiveCustody,"Subject Injured- If yes, type:","Officer Injured- If yes, type:",Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,1,1.0,Section 12- Mental Health,14:47:00,No,47,F,Asian,Non-Hisp.,None,...,PC,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2.0,Disorderly Conduct,21:28:00,No,69,M,White,Non-Hisp.,Alcohol,...,Arrest,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3.0,"Disorderly Conduct,Trespassing",18:00:00,No,32,M,White,Non-Hisp.,None,...,Arrest,Eyes Sore from OC spray,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,4.0,Mental health,14:22:00,No,48,M,White,Non-Hisp.,"Alcohol, Drugs",...,PC,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [265]:
northhampton['State'] = 'MA'
northhampton['City'] = ' Northampton'

northhampton.to_csv(data_path / 'Northhampton_copy.csv')

# Norwich

In [262]:
norwich = pd.read_csv(data_path / 'Norwich.csv', header=1)

print(norwich.info())
norwich.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   0                               386 non-null    int64
 1   Event #                         83 non-null     float64
 2   Call Type                       240 non-null    object
 3   Time of Day                     230 non-null    object
 4   Subject Weapon                  230 non-null    object
 5   Subject Age                     230 non-null    object
 6   Subject Gender                  230 non-null    object
 7   Subject Race                    230 non-null    object
 8   Subject Ethnicity               230 non-null    object
 9   Alcohol Drugs                   230 non-null    object
 10  PD Force Type                   230 non-null    object
 11  # of Officers                   230 non-null    object
 12  Arrest or ProtectiveCustody     230 non-null    object
 13  Subject Injured- If yes, type:  230 non-null    object
 14  Officer Injured- If yes, type:  230 non-null    object
 15  Unnamed: 15                     120 non-null    object
 16  Unnamed: 16                     47 non-null     object
 17  Unnamed: 17                     22 non-null     object
 18  Unnamed: 18                     22 non-null     object
 19  Unnamed: 19                     120 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 60.4+ KB
None

,0,Event #,Call Type,Time of Day,Subject Weapon,Subject Age,Subject Gender,Subject Race,Subject Ethnicity,Alcohol Drugs,PD Force Type,# of Officers,Arrest or ProtectiveCustody,"Subject Injured- If yes, type:","Officer Injured- If yes, type:",Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1,1.0,Mental Health,00:31:00,No,25,F,White,Hispanic,None,Forced to Ground,1,PC,No,No,NaN,NaN,NaN,NaN,NaN
1,2,2.0,Domestic Dispute,13:11:00,No,23,M,Black,Non-Hisp.,None,Firearm Displayed,2,Arrest,No,No,NaN,NaN,NaN,NaN,NaN
2,3,3.0,Robbery In Progress,21:02:00,Yes,29,M,White,Non-Hisp.,Heroin,Firearm Discharged,1,Arrest,No,No,NaN,NaN,NaN,NaN,NaN
3,4,4.0,Mental Helath,12:32:00,No,25,M,Black,Non-Hisp.,None,Taser Displayed,5,PC,No,No,NaN,NaN,NaN,NaN,NaN
4,5,5.0,Domestic Dispute/Resisting Arrest,22:38:00,No,43,M,White,Non-Hisp.,None,Forced to Ground,6,Arrest,Yes- Non-visible (Shoulder),No,NaN,NaN,NaN,NaN,NaN

In [263]:
norwich['State'] = 'CT'
norwich['City'] = ' Norwich'

norwich.to_csv(data_path / 'Norwich_copy.csv')

# Merge

In [ ]:
import os
import pandas as pd
cwd = os.path.abspath('') 
files = os.listdir(cwd) 

df = pd.DataFrame()
for file in files:
     if file.endswith('.csv'):
        df = df.append(pd.read_csv(file), ignore_index=True) 
df.head()

df.to_csv(cwd + 'police_initiate_copy.csv')