In [1]:
%load_ext autoreload
%autoreload 2

%load_ext watermark
%watermark -a "Johann" -v -n -p numpy,scipy,sklearn,pandas

Johann Tue Oct 06 2020

CPython 3.8.5
IPython 7.18.1

numpy 1.19.2
scipy 1.5.2
sklearn 0.23.2
pandas 1.1.0

In [89]:
import os
import time
import pandas as pd
from pathlib import Path
from pyprojroot import here

data_path = Path(here('./data/raw'))
all_files = []
suffixes = '*.csv'

for files in data_path.glob(suffixes):
    all_files.append((files.name, files.suffix, time.ctime(files.stat().st_ctime)))
        
columns = ["File_Name", "Type", "Created"]
files_df = pd.DataFrame.from_records(all_files, columns=columns)

files_df.head(20)

         File_Name  Type                   Created
0       Austin.csv  .csv  Tue Oct  6 17:58:12 2020
1      Lincoln.csv  .csv  Tue Oct  6 20:21:52 2020
2  Cincinnati .csv  .csv  Tue Oct  6 20:21:52 2020
3  New_Orleans.csv  .csv  Tue Oct  6 20:21:52 2020
4   South_bend.csv  .csv  Tue Oct  6 20:21:52 2020
5      Orlando.csv  .csv  Tue Oct  6 20:21:52 2020
6      Seattle.csv  .csv  Tue Oct  6 20:21:52 2020
7    Baltimore.csv  .csv  Tue Oct  6 17:58:17 2020

In [ ]:


def csv_info(fname):
    """
    Display csv info for all files
    """
    
    df = pd.read_csv(fname)
    
    
    
    return

# Austin Police Department

In [66]:
austin = pd.read_csv(data_path / 'Austin.csv')

print(austin.info())
austin.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302 entries, 0 to 3301
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0    RIN                        3302 non-null   int64
 1    Primary Key                3302 non-null   int64
 2    Date Occurred              3302 non-null   object
 3    Time Occurred              3302 non-null   object
 4    Location                   3302 non-null   object
 5    Area Command               3288 non-null   object
 6    Nature of Contact          3299 non-null   object
 7    Reason Desc                3299 non-null   object
 8    R2R Level                  3299 non-null   float64
 9   Master Subject ID           3281 non-null   object
 10   Subject Sex                3140 non-null   object
 11   Subject Race               3140 non-null   object
 12   Subject Ethnicity          3119 non-null   object
 13   Subject Conduct Desc       2660 non-null   object
 14   Subject Resistance         3298 non-null   object
 15   Weapon Used 1              3273 non-null   object
 16   Weapon Used 2              157 non-null    object
 17  Weapon Used 3               21 non-null     object
 18   Weapon Used 4              3 non-null      object
 19   Weapon Used 5              0 non-null      float64
 20   Number Shots               736 non-null    float64
 21   Subject Effects            3290 non-null   object
 22   Effect on Officer          3072 non-null   object
 23   Officer Organization Desc  3299 non-null   object
 24   Officer Commission Date    3299 non-null   object
 25  Officer Yrs of Service      3302 non-null   int64
 26   X-Coordinate               3287 non-null   float64
 27   Y-Coordinate               3287 non-null   float64
 28  CouncilDistrict             3270 non-null   float64
dtypes: float64(6), int64(3), object(20)
memory usage: 748.2+ KB
None

,RIN,Primary Key,Date Occurred,Time Occurred,Location,Area Command,Nature of Contact,Reason Desc,R2R Level,Master Subject ID,...,Weapon Used 5,Number Shots,Subject Effects,Effect on Officer,Officer Organization Desc,Officer Commission Date,Officer Yrs of Service,X-Coordinate,Y-Coordinate,CouncilDistrict
0,154619,201510652,01/01/2015 12:00:00 AM,0220,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 600 REG I PATROL,05/17/2013 12:00:00 AM,2,3115416.0,10070416.0,9.0
1,154620,201510652,01/01/2015 12:00:00 AM,0225,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,GEORGE 700 REG I PATROL,05/10/2002 12:00:00 AM,13,3115416.0,10070416.0,9.0
2,155009,201510652,01/01/2015 12:00:00 AM,,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 300 REG I PATROL,11/30/2012 12:00:00 AM,2,3115416.0,10070416.0,9.0
3,154764,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,TO RESTRAIN FOR SUBJECTS SAFETY,3.0,356649076: 201520457,...,NaN,NaN,COMPLAINT OF INJURY/PAIN,COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,06/20/2008 12:00:00 AM,7,3124262.0,10057181.0,3.0
4,154859,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,"IN CUSTODY, MAINTAINING CONTROL",3.0,356649076: 201520457,...,NaN,NaN,COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,01/02/2009 12:00:00 AM,6,3124262.0,10057181.0,3.0

# Baltimore Police Department

In [64]:
baltimore = pd.read_csv(data_path / 'Baltimore.csv')

print(baltimore.info())
baltimore.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         68 non-null     object
 1   CC#          68 non-null     object
 2   DISTRICT     65 non-null     object
 3   LOCATION     68 non-null     object
 4   TYPE         68 non-null     object
 5   X (LONG)     68 non-null     float64
 6   Y (LAT)      68 non-null     float64
 7   COORDINATES  68 non-null     object
 8   Zip Codes    65 non-null     float64
dtypes: float64(3), object(6)
memory usage: 4.9+ KB
None

,DATE,CC#,DISTRICT,LOCATION,TYPE,X (LONG),Y (LAT),COORDINATES,Zip Codes
0,06/28/2015 12:00:00 AM,158F12891,SWD,3436 Wilkens Ave,Shooting,-76.675684,39.272930,"(39.27293, -76.675684)",27950.0
1,09/28/2015 12:00:00 AM,158I12884,SWD,1900 Grinnalds Ave,Shooting,-76.653546,39.266968,"(39.266968, -76.653546)",27953.0
2,11/15/2015 12:00:00 AM,153K06453,ED,700 Mura St,Shooting,-76.610221,39.304279,"(39.304279, -76.610221)",13645.0
3,10/11/2015 12:00:00 AM,154J04680,NED,3627 Elmora Ave,Taser,-76.569463,39.315777,"(39.315777, -76.569463)",26956.0
4,11/06/2015 12:00:00 AM,157K02397,WD,1007 Brantley Ave,Injured Person,-76.636688,39.296035,"(39.296035, -76.636688)",27301.0

In [ ]:
# Indianapolis Metropolitan Police Department
# https://www.projectcomport.org/department/IMPD/schema/useofforce/

# Portland 
# https://public.tableau.com/views/PPBOpenDataDownloads/UseOfForce-All.csv?:showVizHome=no

# University of Delaware
# http://www1.udel.edu/police/crime-stats/open_data/2016_use_of_force_csv.csv?

# XLS

In [91]:
north_bergen = pd.DataFrame(pd.read_excel(data_path / "North_bergen.xls")) 
  
north_bergen.head()

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'<html xm'

In [94]:
data_path = Path(here('./data/raw/Bedford'))

[x for x in data_path.iterdir() if x.is_dir()]

[]

In [95]:
list(data_path.glob('*.xls'))

[PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20USE%20OF%20FORCE%20Stats%202012.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20USE%20OF%20FORCE%20Stats%202013.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20USE%20OF%20FORCE%20Stats%202011.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20USE%20OF%20FORCE%20Stats%202010.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20USE%20OF%20FORCE%20Stats%202014.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/Use%20of%20Force%202015%20Statistics%20(XLS).xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20VEHICLE%20PURSUIT%20STATS%202014.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20VEHICLE%20PURSUIT%20STATS%202015.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20VEHICLE%20PURSUIT%20STATS%202016.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20VEHICLE%20PURSUIT%20STATS%202013.xls'),
 PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford/BPD%20VEHICLE%20PURSUIT%20STATS%202011.xls')]

In [97]:
bedford = data_path.absolute()

In [98]:
bedford

PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/Bedford')

In [99]:
for files in bedford:
    pd.read_csv(files)

TypeError: 'PosixPath' object is not iterable

In [113]:
bedford = pd.DataFrame(pd.read_excel(data_path / "UOF_stats.xls")) 
  
bedford.head()

,Unnamed: 0,Unnamed: 1,2015,Unnamed: 3,USE OF FORCE REPORT,Unnamed: 5,Unnamed: 6,TYPE OF FORCE USED,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,"ASSISTING OFFICER, IF APPLIC",Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,INCIDENT#,DATE,TIME,AM/PM,TYPE OF INCIDENT,CHARGES,MENTAL HEALTH\n COMPLAINT?,PHYSICAL,IMPACT,ELECTRONIC,...,SEX,RACE,YEARS OF SERVICE,"INJURY, IF ANY",RANK,AGE,SEX,RACE,YEARS OF SERVICE,"INJURY, IF ANY"
1,35,2016-01-03 00:00:00,04:10:00,PM,Mental Health,NaN,X,X,NaN,NaN,...,M,W,1.5,NaN,Officer,48,M,W,10,NaN
2,187,2015-01-12 00:00:00,09:54:00,PM,Disturbance,Public Intoxication,NaN,X,NaN,NaN,...,F,W,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,508,2015-01-31 00:00:00,08:05:00,PM,Trespassimg,Trespassing,NaN,NaN,NaN,NaN,...,M,W,22,NaN,Officer,48,M,W,10,NaN
4,707,2015-02-13 00:00:00,11:30:00,PM,Weapon Discharge,Discharging weapon,NaN,NaN,NaN,NaN,...,M,W,10,NaN,Sergeant,52,M,W,22,NaN