# Data Wrangling

## Austin Police Department

last updated: July 29, 2019
https://data.austintexas.gov/Public-Safety/R2R-2015/iydp-s2cf

In [ ]:
!pip install sodapy

In [6]:
import sys
!{sys.executable} -m pip install sodapy

Collecting sodapy
  Downloading sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in /Users/johann/miniconda3/envs/HRF/lib/python3.8/site-packages (from sodapy) (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/johann/miniconda3/envs/HRF/lib/python3.8/site-packages (from requests>=2.20.0->sodapy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/johann/miniconda3/envs/HRF/lib/python3.8/site-packages (from requests>=2.20.0->sodapy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/johann/miniconda3/envs/HRF/lib/python3.8/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/johann/miniconda3/envs/HRF/lib/python3.8/site-packages (from requests>=2.20.0->sodapy) (1.25.10)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0

In [7]:
#!/usr/bin/env python

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.austintexas.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.austintexas.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("iydp-s2cf", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [8]:
results_df

,rin,primary_key,date_occurred,time_occurred,location,area_command,nature_of_contact,reason_desc,r2r_level,master_subject_id,...,officer_organization_desc,officer_commission_date,officer_yrs_of_service,x_coordinate,y_coordinate,councildistrict,number_shots,weapon_used_2,weapon_used_3,weapon_used_4
0,154619,201510652,2015-01-01T00:00:00.000,0220,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3,459228703: 201510652,...,GEORGE 600 REG I PATROL,2013-05-17T00:00:00.000,2,3115416,10070416,9,NaN,NaN,NaN,NaN
1,154620,201510652,2015-01-01T00:00:00.000,0225,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3,459228703: 201510652,...,GEORGE 700 REG I PATROL,2002-05-10T00:00:00.000,13,3115416,10070416,9,NaN,NaN,NaN,NaN
2,155009,201510652,2015-01-01T00:00:00.000,,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3,459228703: 201510652,...,GEORGE 300 REG I PATROL,2012-11-30T00:00:00.000,2,3115416,10070416,9,NaN,NaN,NaN,NaN
3,154764,201520457,2015-01-02T00:00:00.000,0943,1900 FARO DR,HE,DISPATCHED CALL,TO RESTRAIN FOR SUBJECTS SAFETY,3,356649076: 201520457,...,HENRY 100 REG III PATROL,2008-06-20T00:00:00.000,7,3124262,10057181,3,NaN,NaN,NaN,NaN
4,154859,201520457,2015-01-02T00:00:00.000,0943,1900 FARO DR,HE,DISPATCHED CALL,"IN CUSTODY, MAINTAINING CONTROL",3,356649076: 201520457,...,HENRY 100 REG III PATROL,2009-01-02T00:00:00.000,6,3124262,10057181,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,164285,20152131392,2015-08-01T00:00:00.000,1818,5901 E STASSNEY LN,FR,DISPATCHED CALL,"IN CUSTODY, MAINTAINING CONTROL",3,119279093: 20152131392,...,FRANK 300 REG IV PATROL,2008-06-20T00:00:00.000,7,3118720,10042867,2,NaN,NaN,NaN,NaN
1996,164742,20152130754,2015-08-01T00:00:00.000,1100,3000 PARKER LN,HE,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3,458853119: 20152130754,...,HENRY 200 REG III PATROL,2010-04-23T00:00:00.000,5,3114896,10055111,3,NaN,NaN,NaN,NaN
1997,164165,20152140167,2015-08-02T00:00:00.000,0135,400 E 6TH ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3,458859436: 20152140167,...,GEORGE 300 REG I PATROL,2001-05-25T00:00:00.000,14,3115491,10070521,9,NaN,NaN,NaN,NaN
1998,164166,20152140880,2015-08-02T00:00:00.000,,7900 FM 1826 RD,DA,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3,316735850: 20152140880,...,DAVID 200 REG IV PATROL,2006-06-23T00:00:00.000,9,3068105,10054937,8,NaN,NaN,NaN,NaN
1999,164170,20152140211,2015-08-02T00:00:00.000,0221,4600 ELMONT DR,HE,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3,459303235: 20152140211,...,HENRY 700 REG III PATROL,2015-03-20T00:00:00.000,0,3122853,10060648,3,NaN,NaN,NaN,NaN

In [10]:
results_df.to_csv('austin_TX.csv')