In [1]:
%load_ext autoreload
%autoreload 2

%load_ext watermark
%watermark -a "Johann" -v -n -p numpy,scipy,sklearn,pandas

Johann Mon Oct 12 2020

CPython 3.8.5
IPython 7.18.1

numpy 1.19.2
scipy 1.5.2
sklearn 0.23.2
pandas 1.1.3

In [2]:
import os
import time
import pandas as pd
from pathlib import Path
from pyprojroot import here
import category_encoders as ce

data_path = Path(here('./data/raw'))
all_files = []
suffixes = '*.csv'

for files in data_path.glob(suffixes):
    all_files.append((files.name, files.suffix, time.ctime(files.stat().st_ctime)))
        
columns = ["File_Name", "Type", "Created"]
files_df = pd.DataFrame.from_records(all_files, columns=columns)

files_df.head(20)

                File_Name  Type                   Created
0              Austin.csv  .csv  Tue Oct  6 17:58:12 2020
1             Lincoln.csv  .csv  Tue Oct  6 20:21:52 2020
2             Norwich.csv  .csv  Sun Oct 11 14:16:33 2020
3         Northampton.csv  .csv  Sun Oct 11 14:11:30 2020
4   police_initiative.csv  .csv  Thu Oct  8 13:00:01 2020
5          Cincinnati.csv  .csv  Wed Oct  7 17:02:17 2020
6         Bloomington.csv  .csv  Sun Oct 11 13:57:37 2020
7              Dallas.csv  .csv  Sun Oct 11 14:03:38 2020
8         New_Orleans.csv  .csv  Tue Oct  6 20:21:52 2020
9          South_bend.csv  .csv  Tue Oct  6 20:21:52 2020
10       Indianapolis.csv  .csv  Wed Oct  7 20:26:31 2020
11             Beloit.csv  .csv  Sat Oct 10 22:55:33 2020
12            Orlando.csv  .csv  Tue Oct  6 20:21:52 2020
13            Bedford.csv  .csv  Sat Oct 10 22:41:35 2020
14           Delaware.csv  .csv  Wed Oct  7 20:34:33 2020
15            Seattle.csv  .csv  Tue Oct  6 20:21:52 2020
16          Baltimore.csv  .csv  Tue Oct  6 17:58:17 2020
17           Portland.csv  .csv  Wed Oct  7 20:31:55 2020

# Austin Police Department

In [3]:
austin = pd.read_csv(data_path / 'Austin.csv')

print(austin.info())
austin.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302 entries, 0 to 3301
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0    RIN                        3302 non-null   int64
 1    Primary Key                3302 non-null   int64
 2    Date Occurred              3302 non-null   object
 3    Time Occurred              3302 non-null   object
 4    Location                   3302 non-null   object
 5    Area Command               3288 non-null   object
 6    Nature of Contact          3299 non-null   object
 7    Reason Desc                3299 non-null   object
 8    R2R Level                  3299 non-null   float64
 9   Master Subject ID           3281 non-null   object
 10   Subject Sex                3140 non-null   object
 11   Subject Race               3140 non-null   object
 12   Subject Ethnicity          3119 non-null   object
 13   Subject Conduct Desc       2660 non-null   object
 14   Subject Resistance         3298 non-null   object
 15   Weapon Used 1              3273 non-null   object
 16   Weapon Used 2              157 non-null    object
 17  Weapon Used 3               21 non-null     object
 18   Weapon Used 4              3 non-null      object
 19   Weapon Used 5              0 non-null      float64
 20   Number Shots               736 non-null    float64
 21   Subject Effects            3290 non-null   object
 22   Effect on Officer          3072 non-null   object
 23   Officer Organization Desc  3299 non-null   object
 24   Officer Commission Date    3299 non-null   object
 25  Officer Yrs of Service      3302 non-null   int64
 26   X-Coordinate               3287 non-null   float64
 27   Y-Coordinate               3287 non-null   float64
 28  CouncilDistrict             3270 non-null   float64
dtypes: float64(6), int64(3), object(20)
memory usage: 748.2+ KB
None

,RIN,Primary Key,Date Occurred,Time Occurred,Location,Area Command,Nature of Contact,Reason Desc,R2R Level,Master Subject ID,...,Weapon Used 5,Number Shots,Subject Effects,Effect on Officer,Officer Organization Desc,Officer Commission Date,Officer Yrs of Service,X-Coordinate,Y-Coordinate,CouncilDistrict
0,154619,201510652,01/01/2015 12:00:00 AM,0220,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 600 REG I PATROL,05/17/2013 12:00:00 AM,2,3115416.0,10070416.0,9.0
1,154620,201510652,01/01/2015 12:00:00 AM,0225,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,GEORGE 700 REG I PATROL,05/10/2002 12:00:00 AM,13,3115416.0,10070416.0,9.0
2,155009,201510652,01/01/2015 12:00:00 AM,,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,...,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 300 REG I PATROL,11/30/2012 12:00:00 AM,2,3115416.0,10070416.0,9.0
3,154764,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,TO RESTRAIN FOR SUBJECTS SAFETY,3.0,356649076: 201520457,...,NaN,NaN,COMPLAINT OF INJURY/PAIN,COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,06/20/2008 12:00:00 AM,7,3124262.0,10057181.0,3.0
4,154859,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,"IN CUSTODY, MAINTAINING CONTROL",3.0,356649076: 201520457,...,NaN,NaN,COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,01/02/2009 12:00:00 AM,6,3124262.0,10057181.0,3.0

In [ ]:
austin['State'] = 'TX'
austin['City'] = 'Austin'
austin.head()

austin.to_csv(data_path / 'Austin_copy.csv')

In [ ]:
# CE

encoder= ce.OrdinalEncoder(cols=['Degree'],return_df=True,
                           mapping=[{'col':'Degree',
                                    'mapping':{'None':0,'High school':1,'Diploma':2,'Bachelors':3,'Masters':4,'phd':5}}])

In [9]:
encoder = ce.OrdinalEncoder(cols=[' Weapon Used 1'], return_df=True, mapping=[{'col':' Weapon Used 1',
                                                                              'mapping':{'WEAPONLESS (PRESSURE POINTS/KICKS/HAND)':0,
                                                                                        'CED - PRONGS-ENTER # SHOTS':1,
                                                                                        'CHEMICAL AGENT - O C SPRAY':2,
                                                                                        'CED - DRIVE STUN-ENTER # SHOTS':3,
                                                                                        'CED - PRONGS MISSED-ENTER # SHOTS':4,
                                                                                        'OTHER':5,
                                                                                        'IMPACT WEAPON - BATON': 6,
                                                                                        'CANINE - BITE': 7,
                                                                                        'FIREARM - HANDGUN-ENTER # SHOTS': 8,
                                                                                        'IMPACT MUNITION/RUBBER RND-ENTER # SHOTS': 9,
                                                                                        'IMPACT MUNITION/BEANBAG RND-ENTER # SHOTS': 10,
                                                                                        'FIREARM - RIFLE-ENTER # SHOTS': 11}}])

In [6]:
austin[' Date Occurred'] = pd.to_datetime(aust)

OrdinalEncoder(cols=[' Weapon Used 1'],
               mapping=[{'col': 'Degree',
                         'mapping': {'CANINE - BITE': 7,
                                     'CED - DRIVE STUN-ENTER # SHOTS': 3,
                                     'CED - PRONGS MISSED-ENTER # SHOTS': 4,
                                     'CED - PRONGS-ENTER # SHOTS': 1,
                                     'CHEMICAL AGENT - O C SPRAY': 2,
                                     'FIREARM - HANDGUN-ENTER # SHOTS': 8,
                                     'FIREARM - RIFLE-ENTER # SHOTS': 11,
                                     'IMPACT MUNITION/BEANBAG RND-ENTER # SHOTS': 10,
                                     'IMPACT MUNITION/RUBBER RND-ENTER # SHOTS': 9,
                                     'IMPACT WEAPON - BATON': 6, 'OTHER': 5,
                                     'WEAPONLESS (PRESSURE POINTS/KICKS/HAND)': 0}}])

In [10]:
df_new = encoder.fit_transform(austin)

In [14]:
df_new.head(20)

,RIN,Primary Key,Date Occurred,Time Occurred,Location,Area Command,Nature of Contact,Reason Desc,R2R Level,Master Subject ID,Subject Sex,Subject Race,Subject Ethnicity,Subject Conduct Desc,Subject Resistance,Weapon Used 1,Weapon Used 2,Weapon Used 3,Weapon Used 4,Weapon Used 5,Number Shots,Subject Effects,Effect on Officer,Officer Organization Desc,Officer Commission Date,Officer Yrs of Service,X-Coordinate,Y-Coordinate,CouncilDistrict
0,154619,201510652,01/01/2015 12:00:00 AM,0220,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,M,W,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 600 REG I PATROL,05/17/2013 12:00:00 AM,2,3115416.0,10070416.0,9.0
1,154620,201510652,01/01/2015 12:00:00 AM,0225,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,M,W,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND ACTIVE AGGRESSION; EMPTY HAND DEFEN...,0.0,NaN,NaN,NaN,NaN,NaN,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,GEORGE 700 REG I PATROL,05/10/2002 12:00:00 AM,13,3115416.0,10070416.0,9.0
2,155009,201510652,01/01/2015 12:00:00 AM,,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,M,W,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 300 REG I PATROL,11/30/2012 12:00:00 AM,2,3115416.0,10070416.0,9.0
3,154764,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,TO RESTRAIN FOR SUBJECTS SAFETY,3.0,356649076: 201520457,F,W,N,EDP/MENTALLY UNSTABLE; SUSPECTED UNDER INFLUEN...,VERBAL RESISTANCE/AGGRESSION; EMPTY HAND ACTIV...,0.0,NaN,NaN,NaN,NaN,NaN,COMPLAINT OF INJURY/PAIN,COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,06/20/2008 12:00:00 AM,7,3124262.0,10057181.0,3.0
4,154859,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,"IN CUSTODY, MAINTAINING CONTROL",3.0,356649076: 201520457,F,W,N,EDP/MENTALLY UNSTABLE; SUSPECTED UNDER INFLUEN...,VERBAL RESISTANCE/AGGRESSION; EMPTY HAND DEFEN...,0.0,NaN,NaN,NaN,NaN,NaN,COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,01/02/2009 12:00:00 AM,6,3124262.0,10057181.0,3.0
5,170044,201621470,01/02/2015 12:00:00 AM,,2520 ELMONT DR,HE,DISPATCHED CALL,NECESSARY TO DEFEND REPORTING OFFICER,3.0,458762643: 201621470,F,W,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND ACTIVE AGGRESSION,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,MINOR INJURY,HENRY 700 REG III PATROL,05/17/2013 12:00:00 AM,2,3121683.0,10060584.0,3.0
6,154662,201530043,01/03/2015 12:00:00 AM,0050,209 E 6TH ST,GE,OTHER,"IN CUSTODY, MAINTAINING CONTROL",3.0,458807987: 201530043,M,W,NaN,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,0.0,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 400 REG I PATROL,03/22/2013 12:00:00 AM,2,3114846.0,10070494.0,9.0
7,154699,201530572,01/03/2015 12:00:00 AM,0947,700 W BRAKER LN,ED,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459166364: 201530572,M,B,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,PASSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,EDWARD 100 REG II PATROL,03/23/2012 12:00:00 AM,3,3131508.0,10112358.0,7.0
8,154723,201530126,01/03/2015 12:00:00 AM,0138,4417 FRANKLIN PARK DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459131092: 201530126,M,B,N,NaN,EMPTY HAND DEFENSIVE RESISTANCE,3.0,NaN,NaN,NaN,NaN,1.0,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,FRANK 400 REG IV PATROL,03/22/2013 12:00:00 AM,2,3114441.0,10045558.0,2.0
9,154739,201530126,01/03/2015 12:00:00 AM,0304,4417 FRANKLIN PARK DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459131092: 201530126,M,B,N,NaN,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,FRANK 400 REG IV PATROL,11/30/2012 12:00:00 AM,2,3114441.0,10045558.0,2.0
10,154759,201530126,01/03/2015 12:00:00 AM,,4417 FRANKLIN PARK DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459131092: 201530126,M,B,N,NaN,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,FRANK 700 REG IV PATROL,12/09/2002 12:00:00 AM,12,3114441.0,10045558.0,2.0
11,154760,201530126,01/03/2015 12:00:00 AM,,4417 FRANKLIN PARK DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459131092: 201530126,M,B,N,NaN,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,MINOR INJURY,FRANK 700 REG IV PATROL,11/30/2012 12:00:00 AM,2,3114441.0,10045558.0,2.0
12,154761,201530126,01/03/2015 12:00:00 AM,,4417 FRANKLIN PARK DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,133106570: 201530126,F,B,N,NaN,EMPTY HAND ACTIVE AGGRESSION,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,MINOR INJURY,FRANK 700 REG IV PATROL,11/30/2012 12:00:00 AM,2,3114441.0,10045558.0,2.0
13,154663,201540138,01/04/2015 12:00:00 AM,0136,206 W WILLIAM CANNON DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,186845270: 201540138,M,W,H,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,FRANK 400 REG IV PATROL,03/23/2012 12:00:00 AM,3,3102872.0,10043682.0,2.0
14,154664,201540138,01/04/2015 12:00:00 AM,0243,206 W WILLIAM CANNON DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,186845270: 201540138,M,W,H,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,FRANK 400 REG IV PATROL,11/30/2012 12:00:00 AM,2,3102872.0,10043682.0,2.0
15,154665,201540138,01/04/2015 12:00:00 AM,0211,206 W WILLIAM CANNON DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,186845270: 201540138,M,W,H,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,FRANK 400 REG IV PATROL,03/23/2012 12:00:00 AM,3,3102872.0,10043682.0,2.0
16,154666,201540138,01/04/2015 12:00:00 AM,0154,206 W WILLIAM CANNON DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,186845270: 201540138,M,W,H,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,FRANK 400 REG IV PATROL,03/22/2013 12:00:00 AM,2,3102872.0,10043682.0,2.0
17,154667,201540138,01/04/2015 12:00:00 AM,0154,206 W WILLIAM CANNON DR,FR,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,3.0,186845270: 201540138,M,W,H,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,3.0,NaN,NaN,NaN,NaN,2.0,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,FRANK 400 REG IV PATROL,11/30/2012 12:00:00 AM,2,3102872.0,10043682.0,2.0
18,154668,201540052,01/04/2015 12:00:00 AM,0032,500 NECHES ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,356652526: 201540052,F,W,H,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND ACTIVE AGGRESSION,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,COMPLAINT OF INJURY/PAIN,GEORGE 600 REG I PATROL,03/22/2013 12:00:00 AM,2,3115647.0,10070017.0,9.0
19,154669,201540052,01/04/2015 12:00:00 AM,0032,500 NECHES ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,356654464: 201540052,M,W,H,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND ACTIVE AGGRESSION,0.0,NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,ADAM 200 REG II PATROL,03/22/2013 12:00:00 AM,2,3115647.0,10070017.0,9.0

In [12]:
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

# Baltimore Police Department

In [ ]:
baltimore = pd.read_csv(data_path / 'Baltimore.csv')

print(baltimore.info())
baltimore.head()

In [ ]:
baltimore['State'] = 'MD'
baltimore['City'] = 'Baltimore'
baltimore.head()

baltimore.to_csv(data_path / 'Baltimore_copy.csv')

# Cincinnati PD

In [15]:
cincinnati= pd.read_csv(data_path / 'Cincinnati.csv')

print(cincinnati.info())
cincinnati.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22594 entries, 0 to 22593
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   INCIDENT_NO                     22246 non-null  float64
 1   INCIDENT_DATE                   22594 non-null  object
 2   CASE_NO                         22594 non-null  object
 3   CFS_NO                          22251 non-null  object
 4   DISTRICT                        22561 non-null  object
 5   INCIDENT_TYPE                   22594 non-null  int64
 6   INCIDENT_DESCRIPTION            22594 non-null  object
 7   INCIDENT_LOCATION_X             22567 non-null  object
 8   LATITUDE_X                      11859 non-null  float64
 9   LONGITUDE_X                     11859 non-null  float64
 10  SUBJECT_GENDER                  22593 non-null  object
 11  SUBJECT_RACE                    22593 non-null  object
 12  SUSPECT_AGE                     22594 non-null  object
 13  OFFICER_GENDER                  22583 non-null  object
 14  OFFICER_RACE                    22583 non-null  object
 15  SNA_NEIGHBORHOOD                11859 non-null  object
 16  CPD_NEIGHBORHOOD                11859 non-null  object
 17  COMMUNITY_COUNCIL_NEIGHBORHOOD  11859 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 3.1+ MB
None

,INCIDENT_NO,INCIDENT_DATE,CASE_NO,CFS_NO,DISTRICT,INCIDENT_TYPE,INCIDENT_DESCRIPTION,INCIDENT_LOCATION_X,LATITUDE_X,LONGITUDE_X,SUBJECT_GENDER,SUBJECT_RACE,SUSPECT_AGE,OFFICER_GENDER,OFFICER_RACE,SNA_NEIGHBORHOOD,CPD_NEIGHBORHOOD,COMMUNITY_COUNCIL_NEIGHBORHOOD
0,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
1,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
2,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
3,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN
4,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN

In [ ]:
cincinnati['State'] = 'OH'
cincinnati['City'] = 'Cincinnati'
cincinnati.head()

cincinnati.to_csv(data_path / 'Cincinnati_copy.csv')

# Lincoln PD

In [ ]:
lincoln = pd.read_csv(data_path / 'Lincoln.csv')

print(lincoln.info())
lincoln.head()

In [ ]:
lincoln['State'] = 'NE'
lincoln['City'] = 'Lincoln'
lincoln.head()

lincoln.to_csv(data_path / 'Lincoln_copy.csv')

# New Orleans PD

In [ ]:
new_orleans = pd.read_csv(data_path / 'New_orleans.csv')

print(new_orleans.info())
new_orleans.head()

In [ ]:
new_orleans['State'] = 'LA'
new_orleans['City'] = 'New Orleans'
new_orleans.head()

new_orleans.to_csv(data_path / 'New_Orleans_copy.csv')

# Orlando PD

In [ ]:
orlando = pd.read_csv(data_path / 'Orlando.csv')

print(orlando.info())
orlando.head()

In [ ]:
orlando['State'] = 'FL'
orlando['City'] = 'Orlando'
orlando.head()

orlando.to_csv(data_path / 'Orlando_copy.csv')

# Seattle

In [ ]:
seattle = pd.read_csv(data_path / 'Seattle.csv')

print(seattle.info())
seattle.head()

In [ ]:
seattle['State'] = 'WA'
seattle['City'] = 'Seattle'
seattle.head()

seattle.to_csv(data_path / 'Seattle_copy.csv')

# South Bend

In [ ]:
south_bend = pd.read_csv(data_path / 'South_bend.csv')

print(south_bend.info())
south_bend.head()

In [ ]:
south_bend['State'] = 'IN'
south_bend['City'] = 'South Bend'
south_bend.head()

south_bend.to_csv(data_path / 'South_bend_copy.csv')

# Indianapolis

In [ ]:
# Indianapolis Metropolitan Police Department
# https://www.projectcomport.org/department/IMPD/schema/useofforce/

indianapolis = pd.read_csv('https://www.projectcomport.org/department/1/uof.csv?')
indianapolis.to_csv(data_path / 'Indianapolis.csv')

print(indianapolis.info())
indianapolis.head()

In [ ]:
indianapolis['State'] = 'IN'
indianapolis['City'] = 'Indianpolis'
indianapolis.head()

indianapolis.to_csv(data_path / 'Indianapolis_copy.csv')

# Portland

In [ ]:
# Portland 
# https://public.tableau.com/views/PPBOpenDataDownloads/UseOfForce-All.csv?:showVizHome=no

portland = pd.read_csv('https://public.tableau.com/views/PPBOpenDataDownloads/UseOfForce-All.csv?:showVizHome=no')
portland.to_csv(data_path / 'Portland.csv')

In [ ]:
portland['State'] = 'OR'
portland['City'] = 'Portland'
portland.head()

portland.to_csv(data_path / 'Portland_copy.csv')

# University of Delaware

In [ ]:
delaware = pd.read_csv('http://www1.udel.edu/police/crime-stats/open_data/2016_use_of_force_csv.csv?')
delaware.to_csv(data_path / 'Delaware.csv')

In [ ]:
delaware['State'] = 'DE'
delaware['City'] = 'Newark'
delaware.head()

delaware.to_csv(data_path / 'Delaware_copy.csv')

# XLS

In [ ]:
north_bergen = pd.DataFrame(pd.read_excel(data_path / "North_bergen.xls")) 
  
north_bergen.head()

# Bedford

In [ ]:
bedford = pd.read_csv(data_path / 'Bedford.csv', header=1)

print(bedford.info())
bedford.head()

In [ ]:
bedford['State'] = 'VA'
bedford['City'] = 'Bedford'
bedford.head()

bedford.to_csv(data_path / 'Bedford_copy.csv')

# Beloit

In [ ]:
beloit = pd.read_csv(data_path / 'Beloit.csv')

print(beloit.info())
beloit.head()

In [ ]:
beloit['State'] = 'WI'
beloit['City'] = 'Beloit'

beloit.to_csv(data_path / 'Beloit_copy.csv')

# Bloomington

In [ ]:
bloomington = pd.read_csv(data_path / 'Bloomington.csv')

print(bloomington.info())
bloomington.head()

In [ ]:
bloomington['State'] = 'IN'
bloomington['City'] = 'Bloomington'

bloomington.to_csv(data_path / 'Bloomington_copy.csv')

# Dallas

In [ ]:
dallas = pd.read_csv(data_path / 'Dallas.csv')

print(dallas.info())
dallas.head()

In [ ]:
dallas['State'] = 'TX'
dallas['City'] = 'Dallas'

dallas.to_csv(data_path / 'Dallas_copy.csv')

# North Hampton

In [ ]:
northhampton = pd.read_csv(data_path / 'Northhampton.csv', header=1)

print(northhampton.info())
northhampton.head()

In [ ]:
northhampton['State'] = 'MA'
northhampton['City'] = ' Northampton'

northhampton.to_csv(data_path / 'Northhampton_copy.csv')

# Norwich

In [ ]:
norwich = pd.read_csv(data_path / 'Norwich.csv', header=1)

print(norwich.info())
norwich.head()

In [ ]:
norwich['State'] = 'CT'
norwich['City'] = 'Norwich'

norwich.to_csv(data_path / 'Norwich_copy.csv')

# Merge

In [ ]:
pd.set_option('display.max_columns', None)

merge_path = Path(here('./data/raw/to_merge'))

In [ ]:
files = list(merge_path.glob('*.csv'))

for i in files:
    print(f'Full file name:  {i.name}, \n File name: {i.stem}, \n Type: {i.suffix}')

In [25]:
def read(fp):
    df = (pd.read_csv(fp)
          .pipe(clean_columns)
          #.pipe(mapping)
         )
    return df

def clean_columns(df):
    #df = pd.read_csv(df)
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
    
    return df

def mapping(df):
    col_mapping_dict = {c[0]:c[1] for c in enumerate(df.columns)}
    
    return col_mapping_dict

In [ ]:
df = pd.concat([pd.read_excel(file, header=1) for file in files])
df.to_csv('Norwich.csv', index=False)

In [ ]:
import os
import pandas as pd
cwd = os.path.abspath('') 
files = os.listdir(cwd) 

df = pd.DataFrame()
for file in files:
     if file.endswith('.csv'):
        df = df.append(pd.read_csv(file), ignore_index=True) 
df.head()

df.to_csv(cwd + 'police_initiate_copy.csv')

In [ ]:
# Bedford

In [ ]:
bedford = read(merge_path / 'Bedford_Copy.csv')

In [ ]:
bedford.head(20)

In [ ]:
cols = ['am/pm' ,'start_of_pursuit', 'end_time_of_pursuit', 'complaint_type', 'approx._speed_of_suspect', 'mental_health\n_complaint?',
        'years_of_service.1', 'years_of_service', 'type_of_force', 'rank.1', 'impact', 
        'approx._speed_of_officer', 'other.1','other' ,'injury,_if_any.2', 'assaultive_to_cause_death_or_great_bodily_harm', 'rank']

UOF = ['physical','impact', 'electronic', 'chemical', 'pistol', 'rifle', 'shotgun']

In [ ]:
mapping(bedford)

In [ ]:
bedford.info()

In [ ]:
bedford['type_of_force'] = bedford[['physical','impact', 'electronic', 'chemical', 'pistol', 'rifle', 'shotgun']].agg('-'.join, axis=1)

In [ ]:
df = bedford.drop(columns=cols)

In [ ]:
df.head()

In [ ]:
df.to_csv(data_path / 'Bedford_clean.csv')

In [ ]:
force = bedford[['physical','impact', 'electronic', 'chemical', 'pistol', 'rifle', 'shotgun']]

In [ ]:
df = force.replace(['X'], 1)

In [ ]:
df.head()

In [ ]:
df_stacked = df.stack()

In [ ]:
df_stacked.head()

In [ ]:
# Beloit

In [ ]:
beloit = read(data_path / 'Beloit-Copy.csv')

In [ ]:
beloit.head()

In [ ]:
mapping(beloit)

In [ ]:
beloit = beloit.drop('cad#', axis=1)

In [ ]:
beloit.to_csv(data_path / 'Beloit_clean.csv')

In [ ]:
# Bloomington

In [ ]:
bloomington = read(data_path / 'Bloomington_copy.csv')

In [ ]:
bloomington.head()

In [ ]:
mapping(bloomington)

In [ ]:
# at this point I have decided that I will not be dropping too many columns. 
# going forward each PD data set will be treated as is with only minor drops as needed.
# I will mostly be renaming columns to match in each dataset, see README. 

blom_drop = ['']

In [ ]:
cin = read(data_path / 'Cincinnati_copy.csv')

In [ ]:
cin.head()

In [ ]:
mapping(cin)

In [ ]:
cin_drop = ['unnamed:_0', 'district', 'incident_location_x', 'sna_neighborhood', 'cpd_neighborhood', 'community_council_neighborhood', 'cfs_no']

In [ ]:
cin = cin.drop(columns=cin_drop)

In [ ]:
cin.to_csv(data_path / 'cincinnati_clean.csv')

In [16]:
data_path

PosixPath('/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw')

In [26]:
cin = read(data_path / 'Cincinnati.csv')

In [27]:
cin.head()

,incident_no,incident_date,case_no,cfs_no,district,incident_type,incident_description,incident_location_x,latitude_x,longitude_x,subject_gender,subject_race,suspect_age,officer_gender,officer_race,sna_neighborhood,cpd_neighborhood,community_council_neighborhood
0,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
1,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
2,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
3,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN
4,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN

In [28]:
cin.isnull().sum()

incident_no                         348
incident_date                         0
case_no                               0
cfs_no                              343
district                             33
incident_type                         0
incident_description                  0
incident_location_x                  27
latitude_x                        10735
longitude_x                       10735
subject_gender                        1
subject_race                          1
suspect_age                           0
officer_gender                       11
officer_race                         11
sna_neighborhood                  10735
cpd_neighborhood                  10735
community_council_neighborhood    10735
dtype: int64

In [29]:
cin.shape

(22594, 18)

In [30]:
cin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22594 entries, 0 to 22593
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   incident_no                     22246 non-null  float64
 1   incident_date                   22594 non-null  object
 2   case_no                         22594 non-null  object
 3   cfs_no                          22251 non-null  object
 4   district                        22561 non-null  object
 5   incident_type                   22594 non-null  int64
 6   incident_description            22594 non-null  object
 7   incident_location_x             22567 non-null  object
 8   latitude_x                      11859 non-null  float64
 9   longitude_x                     11859 non-null  float64
 10  subject_gender                  22593 non-null  object
 11  subject_race                    22593 non-null  object
 12  suspect_age                     22594 non-null  object
 13  officer_gender                  22583 non-null  object
 14  officer_race                    22583 non-null  object
 15  sna_neighborhood                11859 non-null  object
 16  cpd_neighborhood                11859 non-null  object
 17  community_council_neighborhood  11859 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 3.1+ MB

In [31]:
mapping(cin)

{0: 'incident_no',
 1: 'incident_date',
 2: 'case_no',
 3: 'cfs_no',
 4: 'district',
 5: 'incident_type',
 6: 'incident_description',
 7: 'incident_location_x',
 8: 'latitude_x',
 9: 'longitude_x',
 10: 'subject_gender',
 11: 'subject_race',
 12: 'suspect_age',
 13: 'officer_gender',
 14: 'officer_race',
 15: 'sna_neighborhood',
 16: 'cpd_neighborhood',
 17: 'community_council_neighborhood'}

In [34]:
cin['incident_date']= pd.to_datetime(cin['incident_date'])

In [36]:
cin.head()

,incident_no,incident_date,case_no,cfs_no,district,incident_type,incident_description,incident_location_x,latitude_x,longitude_x,subject_gender,subject_race,suspect_age,officer_gender,officer_race,sna_neighborhood,cpd_neighborhood,community_council_neighborhood
0,9301.0,2018-02-11 00:35:00,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
1,9301.0,2018-02-11 00:35:00,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
2,9301.0,2018-02-11 00:35:00,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
3,-3592.0,2000-03-27 21:00:00,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN
4,-3592.0,2000-03-27 21:00:00,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN

In [39]:
cols = ['case_no', 'cfs_no', 'district', 'incident_type', 'incident_location_x', 'sna_neighborhood', 'cpd_neighborhood', 'community_council_neighborhood']

In [40]:
cin = cin.drop(columns=cols)

In [41]:
cin.head()

,incident_no,incident_date,incident_description,latitude_x,longitude_x,subject_gender,subject_race,suspect_age,officer_gender,officer_race
0,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE
1,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE
2,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE
3,-3592.0,2000-03-27 21:00:00,INJURY TO PRISONER,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK
4,-3592.0,2000-03-27 21:00:00,INJURY TO PRISONER,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK

(22594, 10)

In [322]:
dallas = read(data_path / 'Dallas.csv')
dallas.head()

/Users/johann/miniconda3/envs/HRF/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3337: DtypeWarning: Columns (22,30,31,32,39,41,43,45,47,48,49,50,51,52,53,54,55,56,59) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,objectid,filenum,uofnum,occurred_d,occurred_t,current_baxx,offsex,offrace,hire_dt,off_injure,offcondtyp,off_hospit,service_ty,forcetype,uof_reason,cycles_num,forceeffec,street_n,street,street_g,street_t,address,citnum,citrace,citsex,cit_injure,citcondtyp,cit_arrest,cit_infl_a,citcharget,ra,beat,sector,division,dist_name,taag_name,x,y,geolocation,occurred_tm,current_ba,arc_street,zip,council_district,id,occurred_dt,current_badge_no,off_injured,offcondtype,off_hospital,service_type,forceeffective,cit_injured,citcondtype,cit_arrested,cit_infl_assmt,citchargetype,latitude,longitude,match_addr
0,NaN,UF2018-0945,51374,08/03/2018,NaN,8681.0,Male,White,08/05/2005,No,No injuries noted or visible,No,Arrest,BD - Grabbed,Arrest,NaN,Yes,100.0,Akard,N,St.,100 N Akard St.,55396,Black,Male,No,No injuries noted or visible,Yes,Alchohol,Public Intoxication,2062,134,130,CENTRAL,NaN,NaN,NaN,NaN,POINT (-96.799965 32.782059),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,UF2018-0868,51056,07/20/2018,NaN,8019.0,Male,Hispanic,04/13/2001,No,No injuries noted or visible,No,Arrest,Held Suspect Down,Arrest,NaN,Yes,500.0,Davis,W,St.,500 W Davis St.,25885,White,Female,No,No injuries noted or visible,Yes,Mentally unstable,APOWW,4119,413,410,SOUTHWEST,NaN,NaN,NaN,NaN,POINT (-90.516982 40.552361),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,UF2018-1228,52701,10/10/2018,NaN,11171.0,Male,Hispanic,04/06/2016,Yes,Laceration/Cut,No,Service Call,Taser,Active Aggression,1,Yes,1515.0,Young St,NaN,NaN,1515 Young St,56165,White,Male,Yes,Taser Burn Marks,Yes,Agitated,Assault/Public Servant,2073,134,130,CENTRAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,UF2018-0912,51050,07/19/2018,NaN,6412.0,Male,Black,07/16/1990,Yes,Sprain/Strain,No,Off-Duty Employment,Take Down - Body,Assault to Other Person,NaN,Yes,8000.0,Herb Kelleher,NaN,Way,8000 Herb Kelleher Way,55235,White,Male,No,No injuries noted or visible,Yes,Alchohol,Assault,3070,523,520,NORTHWEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,UF2018-1014,"51858, 51859",08/18/2018,NaN,10991.0,Male,White,03/25/2015,Yes,Redness/Swelling,No,Arrest,"Held Suspect Down, Joint Locks",Arrest,NaN,"Yes, Yes",2224.0,Masters,N,Dr.,2224 N Masters Dr.,55586,Hispanic,Male,Yes,Taser Burn Marks,Yes,Mentally unstable,Assault/Public Servant,1247,327,320,SOUTHEAST,NaN,NaN,NaN,NaN,POINT (-96.648101 32.750861),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [323]:
dallas_drop = ['objectid', 'match_addr', 'filenum', 'current_baxx', 'hire_dt', 'off_injure', 'offcondtyp', 'off_hospit', 'service_ty', 'uof_reason',
               'cycles_num', 'forceeffec', 'street_n', 'street', 'street_g', 'street_t', 'address', 'citnum', 'cit_injure', 'citcondtype', 'cit_arrest',
               'citcharget', 'ra', 'beat', 'sector', 'division', 'dist_name', 'taag_name', 'current_ba', 'arc_street', 'zip', 'council_district',
               'id', 'current_badge_no', 'off_injured', 'offcondtype', 'off_hospital', 'service_type', 'forceeffective', 'cit_injured', 'citcondtype',
               'cit_arrested', 'cit_infl_assmt', 'citchargetype', 'cit_infl_a', 'citcondtyp', 'latitude', 'longitude', 'occurred_tm', 'occurred_dt',
               'x', 'y', 'geolocation', 'occurred_t']

In [324]:
dallas = dallas.drop(columns=dallas_drop)
dallas.head()

,uofnum,occurred_d,offsex,offrace,forcetype,citrace,citsex
0,51374,08/03/2018,Male,White,BD - Grabbed,Black,Male
1,51056,07/20/2018,Male,Hispanic,Held Suspect Down,White,Female
2,52701,10/10/2018,Male,Hispanic,Taser,White,Male
3,51050,07/19/2018,Male,Black,Take Down - Body,White,Male
4,"51858, 51859",08/18/2018,Male,White,"Held Suspect Down, Joint Locks",Hispanic,Male

In [325]:
dallas['lat'] = 32.779167
dallas['lon'] = -96.808891

dallas.head()

,uofnum,occurred_d,offsex,offrace,forcetype,citrace,citsex,lat,lon
0,51374,08/03/2018,Male,White,BD - Grabbed,Black,Male,32.779167,-96.808891
1,51056,07/20/2018,Male,Hispanic,Held Suspect Down,White,Female,32.779167,-96.808891
2,52701,10/10/2018,Male,Hispanic,Taser,White,Male,32.779167,-96.808891
3,51050,07/19/2018,Male,Black,Take Down - Body,White,Male,32.779167,-96.808891
4,"51858, 51859",08/18/2018,Male,White,"Held Suspect Down, Joint Locks",Hispanic,Male,32.779167,-96.808891

In [326]:
dallas = dallas.rename(columns= {'uofnum': 'incident_number', 
                                 'occurred_d': 'incident_date', 
                                 'offsex': 'officer_gender', 
                                 'offrace': 'officer_race', 
                                 'forcetype': 'force_type',
                                 'citrace': 'subject_race',
                                 'citsex': 'subject_gender'})

In [330]:
dallas['incident_date'] = pd.to_datetime(dallas['incident_date'])

In [333]:


dallas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20610 entries, 0 to 20609
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   incident_number  20609 non-null  object
 1   incident_date    18366 non-null  datetime64[ns]
 2   officer_gender   20609 non-null  object
 3   officer_race     20609 non-null  object
 4   force_type       20609 non-null  object
 5   subject_race     20259 non-null  object
 6   subject_gender   20549 non-null  object
 7   lat              20610 non-null  float64
 8   lon              20610 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 1.4+ MB

In [312]:
dallas['incident_date'] = dallas['occurred_d'] + ' ' + dallas['occurred_t']

In [315]:
dallas['incident_date']

0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN
                  ...
20605     01/03/2016 2:22:00 AM
20606     02/07/2016 3:30:00 PM
20607     01/28/2016 6:30:00 AM
20608     01/09/2016 3:30:00 AM
20609    01/06/2016 10:45:00 PM
Name: incident_date, Length: 20610, dtype: object

In [318]:
def combine_date_time(df, datecol, timecol):
    return df.apply(lambda row: row[datecol].replace(
                                hour=row[timecol].hour,
                                minute=row[timecol].minute),
                    axis=1)

In [319]:
combine_date_time(dallas, dallas['occurred_d'], dallas['occurred_t'])

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [334]:
dallas.to_csv(data_path / 'Dallas_clean.csv')

In [266]:
dallas['geolocation'] = dallas['geolocation'].str.split('(')

In [249]:
dallas['geolocation'] = dallas['geolocation'].str[1].replace(')', '')

In [269]:
dallas['geolocation'] = dallas['geolocation'].str[1]

In [285]:
dallas['geolocation']

0         -96.799965 32.782059
1         -90.516982 40.552361
2                          NaN
3                          NaN
4         -96.648101 32.750861
                 ...
20605    32.862227, -96.871427
20606    32.711609, -96.763814
20607    32.875037, -96.857291
20608    32.858799, -96.882629
20609    32.737294, -96.805444
Name: geolocation, Length: 20610, dtype: object

In [337]:
# cincinnati

cin = read(data_path / 'Cincinnati.csv')
cin.head()

,incident_no,incident_date,case_no,cfs_no,district,incident_type,incident_description,incident_location_x,latitude_x,longitude_x,subject_gender,subject_race,suspect_age,officer_gender,officer_race,sna_neighborhood,cpd_neighborhood,community_council_neighborhood
0,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
1,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
2,9301.0,02/11/2018 12:35:00 AM,2018-234394,LCP180211000034,DISTRICT 1,9823,NONCOMPLIANT SUSPECT/ARRESTEE,2XX E LIBERTY,NaN,NaN,MALE,BLACK,JUVENILE,MALE,WHITE,NaN,NaN,NaN
3,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN
4,-3592.0,03/27/2000 09:00:00 PM,20000281,P000871366,DISTRICT 2,9826,INJURY TO PRISONER,35XX EDWARDS,NaN,NaN,FEMALE,WHITE,UNKNOWN,MALE,BLACK,NaN,NaN,NaN

In [338]:
mapping(cin)

{0: 'incident_no',
 1: 'incident_date',
 2: 'case_no',
 3: 'cfs_no',
 4: 'district',
 5: 'incident_type',
 6: 'incident_description',
 7: 'incident_location_x',
 8: 'latitude_x',
 9: 'longitude_x',
 10: 'subject_gender',
 11: 'subject_race',
 12: 'suspect_age',
 13: 'officer_gender',
 14: 'officer_race',
 15: 'sna_neighborhood',
 16: 'cpd_neighborhood',
 17: 'community_council_neighborhood'}

In [341]:
cin_drop = ['case_no', 'cfs_no', 'district', 'incident_type', 'incident_location_x', 'latitude_x', 'longitude_x', 'sna_neighborhood', 'cpd_neighborhood', 'community_council_neighborhood']

In [344]:
cin = cin.drop(columns=cin_drop)

In [346]:
cin.head()

,incident_no,incident_date,incident_description,subject_gender,subject_race,suspect_age,officer_gender,officer_race
0,9301.0,02/11/2018 12:35:00 AM,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE
1,9301.0,02/11/2018 12:35:00 AM,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE
2,9301.0,02/11/2018 12:35:00 AM,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE
3,-3592.0,03/27/2000 09:00:00 PM,INJURY TO PRISONER,FEMALE,WHITE,UNKNOWN,MALE,BLACK
4,-3592.0,03/27/2000 09:00:00 PM,INJURY TO PRISONER,FEMALE,WHITE,UNKNOWN,MALE,BLACK

In [349]:
cin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22594 entries, 0 to 22593
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   incident_no           22246 non-null  float64
 1   incident_date         22594 non-null  datetime64[ns]
 2   incident_description  22594 non-null  object
 3   subject_gender        22593 non-null  object
 4   subject_race          22593 non-null  object
 5   suspect_age           22594 non-null  object
 6   officer_gender        22583 non-null  object
 7   officer_race          22583 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 1.4+ MB

In [348]:
cin['incident_date'] = pd.to_datetime(cin['incident_date'])

In [350]:
cin = cin.rename(columns= {'uofnum': 'incident_number', 
                                 'occurred_d': 'incident_date', 
                                 'offsex': 'officer_gender', 
                                 'offrace': 'officer_race', 
                                 'forcetype': 'force_type',
                                 'citrace': 'subject_race',
                                 'citsex': 'subject_gender',
                                 'suspect_age': 'subject_age'})

In [351]:
cin.head()

,incident_no,incident_date,incident_description,subject_gender,subject_race,subject_age,officer_gender,officer_race
0,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE
1,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE
2,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE
3,-3592.0,2000-03-27 21:00:00,INJURY TO PRISONER,FEMALE,WHITE,UNKNOWN,MALE,BLACK
4,-3592.0,2000-03-27 21:00:00,INJURY TO PRISONER,FEMALE,WHITE,UNKNOWN,MALE,BLACK

In [352]:
cin['lat'] = 39.1636505
cin['lon'] = -86.525757

In [353]:
cin.head()

,incident_no,incident_date,incident_description,subject_gender,subject_race,subject_age,officer_gender,officer_race,lat,lon
0,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE,39.103119,-84.512016
1,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE,39.103119,-84.512016
2,9301.0,2018-02-11 00:35:00,NONCOMPLIANT SUSPECT/ARRESTEE,MALE,BLACK,JUVENILE,MALE,WHITE,39.103119,-84.512016
3,-3592.0,2000-03-27 21:00:00,INJURY TO PRISONER,FEMALE,WHITE,UNKNOWN,MALE,BLACK,39.103119,-84.512016
4,-3592.0,2000-03-27 21:00:00,INJURY TO PRISONER,FEMALE,WHITE,UNKNOWN,MALE,BLACK,39.103119,-84.512016

In [354]:
cin.to_csv(data_path / 'Cincinnati_clean')