This notebook will take the raw data for indianapolis and Orlando, and it will refine them into proper format for csv combination.

In [28]:
# setting display options to help
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

In [12]:
# Proper Format is as Follows
# Statistical data:
# {"data": [
# "date":
# "Incidents_number":
# "lat":
# "lon":
# "lethal": 
# "Projectile":
# "Race_victim":
# "Race_police_officer":
# "Victim_gender":
# "police_officer_Gender":
# ]}

In [9]:
import pandas as pd
import numpy as np

## Indianapolis

In [10]:
# Reading in the raw csv
indi = pd.read_csv('https://github.com/Lambda-School-Labs/Labs27-D-HRF-DS/raw/feature/ds_jm/data/raw/Indianapolis.csv')

In [11]:
# Many different columns. Going to follow the template provided.
indi.head()

   Unnamed: 0  ...                 officerIdentifier
0           0  ...  11342e9840a7b53dec8c039a6a53c129
1           1  ...  547c246b80e932bf70340356c7e207e1
2           2  ...  a4555ab4905cda5e4a1430a69a0afdcd
3           3  ...  b1b813ded824994e6af194d0d7297470
4           4  ...  d4ec041a3cb4e12c28af6794c1c62ebd

[5 rows x 27 columns]

In [14]:
indi.columns

Index(['Unnamed: 0', 'id', 'occurredDate', 'division', 'district', 'shift',
       'beat', 'useOfForceReason', 'officerForceType', 'disposition',
       'serviceType', 'arrestMade', 'arrestCharges', 'residentInjured',
       'residentHospitalized', 'residentCondition', 'officerInjured',
       'officerHospitalized', 'officerCondition', 'residentRace',
       'residentSex', 'residentAge', 'officerRace', 'officerSex', 'officerAge',
       'officerYearsOfService', 'officerIdentifier'],
      dtype='object')

In [16]:
#Date
indi['Date'] = pd.to_datetime(indi['occurredDate'])

In [53]:
# Incidents Number
indi['Incidents Number'] = 1

In [17]:
# lat
indi['lat'] = 39.7771

In [18]:
# lon
indi['lon'] = -86.1458

In [ ]:
# lethal
indi['Lethalgun'] = (indi['officerForceType'] == 'Lethal-Handgun')
indi['lethalv'] = (indi['officerForceType'] == 'Lethal-Vehicle')
indi['Lethal'] = indi['Lethalgun'] + indi['lethalv']
print(indi['Lethalgun'].value_counts())
print(indi['lethalv'].value_counts())
print(indi['Lethal'].value_counts())

In [ ]:
# projectile
indi['officerForceType'].value_counts()

In [ ]:
# Race_victim
indi['residentRace'].value_counts()

In [ ]:
# race_police_officer
indi['officerRace'].value_counts()

In [ ]:
# victim_gender
indi['residentSex'].value_counts()

In [ ]:
#police_officer_gender
indi['officerSex'].value_counts()

In [56]:
columns_list = ['Date', 'lat', 'lon', 'Incidents Number', 'Lethal',
                'officerForceType', 'residentRace', 'officerRace', 'residentSex', 
                'officerSex']

In [57]:
indi_new = indi[columns_list]

In [ ]:
indi_new

In [86]:
indi_new.to_csv('indi_cleaned.csv')

## Orlando

In [5]:
orl = pd.read_csv('https://github.com/Lambda-School-Labs/Labs27-D-HRF-DS/raw/feature/ds_jm/data/raw/Orlando.csv')

In [7]:
orl.head()

  Incident Number  ...                     Location
0   2018-00079161  ...                          NaN
1   2013-00544482  ...                          NaN
2   2018-00478744  ...  (28.43097505, -81.31134146)
3   2017-00316840  ...                          NaN
4  IncidentNumber  ...                          NaN

[5 rows x 27 columns]

In [62]:
# Statistical data:
# {"data": [
# "date":
# "Incidents_number":
# "lat":
# "lon":
# "lethal": 
# "Projectile":
# "Race_victim":
# "Race_police_officer":
# "Victim_gender":
# "police_officer_Gender":
# ]}
orl.columns

Index(['Incident Number', 'Incident Date Time', 'Incident Location',
       'Officers Involved', 'Officers Race', 'Officers Ethnicity',
       'Officers Sex', 'Officer Battered', 'Officer Injured',
       'Officer Medical Treatment', 'Electronic Device Used',
       'Chemical Agent Used', 'Tackle Take Down', 'Impact Weapons Used',
       'Physical Strikes Made', 'Deflation Device Used', 'K9 Unit Involved',
       'Offenders Involved', 'Offenders Race', 'Offenders Ethnicity',
       'Offenders Sex', 'Offender Arrested', 'Offender Injured',
       'Offender Medical Treatment', 'Witnesses Involved', 'Status',
       'Location', 'Date'],
      dtype='object')

In [59]:
cols_list_orl = ['Date', 'Incidents Number', 'lat', 'lon', 'Incident Number',]

In [61]:
# Date
orl['Date'] = pd.to_datetime(orl['Incident Date Time'])

In [ ]:
# incidents number
orl['Incidents Number'

In [80]:
# lat
orl['lat'] = 28.4772

In [81]:
 # lon
 orl['lon'] = -81.3369

In [85]:
#lethal
orl['Offender Medical Treatment'].value_counts()

No                          3619
Yes                         2037
OffenderMedicalTreatment       2
Name: Offender Medical Treatment, dtype: int64

In [ ]:
#Projectile

In [ ]:
#Race_victim
orl['Offenders Race'].value_counts()

In [ ]:
#race_police_officer
orl['Officers Race'].value_counts()

In [ ]:
#victim_gender
orl['Offenders Sex'].value_counts()

In [92]:
#police_officer_gender
orl['Officers Sex'].value_counts()

M;M                2086
M                  1857
M;M;M               617
M;F                 259
M;M;M;M             217
F;M                 106
F                    77
M;M;F                63
M;F;M                57
M;M;M;M;M            46
F;M;M                34
M;M;M;F              27
M;M;F;M              25
M;M;M;M;M;M          23
F;F                  23
M;F;F                16
F;M;M;M              11
M;F;M;M              10
F;F;M                 9
F;M;M;M;M             9
M;M;M;F;M             8
M;M;M;M;F             7
F;F;M;M               6
M;M;M;M;M;M;M;M       5
M;M;M;M;M;M;M         5
M;M;F;M;M             4
M;M;F;F               4
M;F;M;M;M             4
M;F;M;F               4
M;M;M;F;M;M           3
M;F;F;M               3
F;M;F                 2
OfficersSex           2
M;M;F;M;M;M           2
F;M;F;M               2
M;F;M;M;F             1
M;F;M;F;M             1
M;M;F;M;M;M;M         1
F;M;M;F               1
M;F;M;F;M;M;M         1
M;M;M;M;F;M           1
M;M;M;M;M;F;M         1
M;M;F;M;M;M;F;M       1
F;M;F;M;F             1
F;F;F                 1
M;M;M;M;M;M;F;M       1
F;F;M;M;M             1
M;F;M;M;M;M           1
M;M;M;M;M;F;M;M       1
M;M;M;F;F             1
F;M;M;M;M;M           1
M;M;F;M;F             1
M;M;F;U               1
M;M;M;M;F;M;M;M       1
M;F;M;M;M;M;M         1
F;M;F;M;M;M           1
M;M;M;F;M;M;M         1
M;M;M;M;F;M;M         1
F;M;M;F;M             1
F;M;F;M;M             1
Name: Officers Sex, dtype: int64